In [1]:
import os
import json
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_rows', 200)

notebook_home = os.path.abspath('')
#dataset_home =notebook_home + "/../output_enron"
dataset_home =notebook_home + "/../output_github"

numFunctionsPerCase = "numFunctionsPerCase.csv"
functionFreq = "functionFreq.csv"
funcFreqCaseOne = "funcFreqCaseOne.csv"
funcFreqCaseTwo = "funcFreqCaseTwo.csv"
funcFreqCaseThree = "funcFreqCaseThree.csv"
funcFreqCaseFour = "funcFreqCaseFour.csv"
numFunctionsFreq = "numFunctionsFreq.csv"
caseTwoRowsApart = "caseTwoRowsApart.csv"
perCaseStats = "perCaseStats.csv"

### The number of functions for each case (i.e., single cell, multiple cells, etc.)

In [2]:
df = pd.read_csv(os.path.join(dataset_home, numFunctionsPerCase), header=None, names=['Case', 'NumFunctions'])
df

   Case  NumFunctions
0     0           973
1     1         43367
2     2        105236
3     3           940
4     4          2538

### The number of times each function is used in a template

In [3]:
df = pd.read_csv(os.path.join(dataset_home, functionFreq), header=None, names=['Function', 'Number'])
sorted_df = df.sort_values(by='Number', ascending=False).reset_index(drop=True)
sorted_df

       Function  Number
0             +   75416
1             *   35002
2             -   21962
3             /   10003
4           SUM    1423
5         SUMIF    1265
6        OFFSET     893
7         ROUND     804
8            LN     733
9       AVERAGE     602
10          ABS     527
11      VLOOKUP     485
12        MONTH     324
13            &     322
14       CHOOSE     311
15      COUNTIF     270
16         DATE     258
17          NaN     251
18         YEAR     239
19          MAX     228
20  CONCATENATE     224
21      WEEKDAY     141
22    DATEVALUE      92
23        STDEV      90
24         LEFT      68
25         RAND      67
26         SQRT      61
27          MIN      59
28         TEXT      59
29    TRANSPOSE      56
30        POWER      48
31          DAY      45
32       LOOKUP      44
33        COUNT      43
34          PMT      42
35          MID      42
36            %      39
37        RIGHT      39
38            ^      37
39          ROW      37
40         FIND      36
41          LEN      34
42      DAYS360      28
43   SUMPRODUCT      26
44         PPMT      25
45    NORMSDIST      24
46          EXP      22
47       COUNTA      22
48        INDEX      20
49          NPV      19
50       LINEST      16
51        SUMSQ      12
52      NORMINV      10
53        MATCH       9
54         REPT       9
55       CORREL       9
56      ROUNDUP       8
57     NORMDIST       6
58          NOW       5
59        VALUE       5
60         IPMT       5
61        ISERR       5
62         CELL       5
63          INT       5
64         HOUR       5
65            N       4
66      HLOOKUP       4
67            =       4
68       MEDIAN       3
69     NORMSINV       3
70     INDIRECT       2
71           PV       2
72     SUBTOTAL       2
73         MINA       2
74        MMULT       2
75    FREQUENCY       1
76        EXACT       1
77          VAR       1
78           FV       1
79        TRUNC       1

### The number of times each function is used in a template for each case

In [4]:
# Case One: one cell
df = pd.read_csv(os.path.join(dataset_home, funcFreqCaseOne), header=None, names=['Function', 'Number'])
sorted_df = df.sort_values(by='Number', ascending=False).reset_index(drop=True)
sorted_df

       Function  Number
0             +   25919
1             *    9234
2             /    3392
3             -    1178
4         ROUND     804
5            LN     733
6           ABS     527
7         MONTH     324
8          YEAR     238
9           MAX     153
10      WEEKDAY     141
11            &     113
12    DATEVALUE      92
13         LEFT      65
14         TEXT      59
15          DAY      45
16          MID      42
17         SQRT      37
18            ^      36
19         FIND      36
20          LEN      34
21          MIN      26
22    NORMSDIST      24
23          EXP      22
24      NORMINV      10
25         REPT       9
26      ROUNDUP       8
27          SUM       8
28          ROW       7
29        RIGHT       6
30        ISERR       5
31         CELL       5
32     NORMDIST       5
33          INT       5
34        VALUE       5
35         HOUR       5
36            N       4
37     NORMSINV       3
38         MINA       2
39     INDIRECT       2
40            %       1
41         DATE       1
42        TRUNC       1
43  CONCATENATE       1

In [5]:
# Case Two: multiple cells
df = pd.read_csv(os.path.join(dataset_home, funcFreqCaseTwo), header=None, names=['Function', 'Number'])
sorted_df = df.sort_values(by='Number', ascending=False).reset_index(drop=True)
sorted_df

       Function  Number
0             +   49328
1             *   25562
2             -   20722
3             /    6529
4        OFFSET     893
5           SUM     548
6         SUMIF     419
7        CHOOSE     311
8          DATE     254
9   CONCATENATE     223
10            &     180
11        POWER      48
12          PMT      42
13        RIGHT      33
14      AVERAGE      31
15      DAYS360      28
16         PPMT      25
17          MIN      22
18          MAX      21
19         IPMT       5
20            =       4
21         LEFT       3
22           PV       2
23        EXACT       1
24     NORMDIST       1
25           FV       1

In [6]:
# Case Three: a single range
df = pd.read_csv(os.path.join(dataset_home, funcFreqCaseThree), header=None, names=['Function', 'Number'])
sorted_df = df.sort_values(by='Number', ascending=False).reset_index(drop=True)
sorted_df

     Function  Number
0     AVERAGE     524
1     COUNTIF     124
2       STDEV      90
3   TRANSPOSE      56
4         MAX      47
5       COUNT      43
6      COUNTA      22
7       SUMSQ      12
8         MIN      11
9         SUM       4
10     MEDIAN       3
11   SUBTOTAL       2
12        VAR       1
13        NPV       1

In [7]:
# Case Four: multiple ranges
df = pd.read_csv(os.path.join(dataset_home, funcFreqCaseFour), header=None, names=['Function', 'Number'])
sorted_df = df.sort_values(by='Number', ascending=False).reset_index(drop=True)
sorted_df

      Function  Number
0          SUM     855
1        SUMIF     846
2      VLOOKUP     485
3      COUNTIF     146
4       LOOKUP      44
5      AVERAGE      44
6   SUMPRODUCT      26
7        INDEX      20
8          NPV      18
9       LINEST      16
10       MATCH       9
11      CORREL       9
12         MAX       7
13           -       6
14     HLOOKUP       4
15       MMULT       2
16   FREQUENCY       1

### The distribution for the number of functions that a formula template has

In [8]:
df = pd.read_csv(os.path.join(dataset_home, numFunctionsFreq), header=None, names=['Num of Functions', 'Instances'])
sorted_df = df.sort_values(by='Num of Functions', ascending=True).reset_index(drop=True)
sorted_df

    Num of Functions  Instances
0                  0      11725
1                  1      63910
2                  2      21367
3                  3       7928
4                  4       1751
5                  5        218
6                  6        715
7                  7         29
8                  8        316
9                  9         20
10                10         45
11                11         58
12                12         86
13                13         49
14                14          7
15                15          2
16                16          7
17                17          2
18                18          3
19                19          7
20                23         17
21                24          2
22                27          1
23                31         17
24                35         17
25                39         45
26                40          2
27                59          5
28                79          5

### Case Two Statistics

In [9]:
# The distribution for the number of rows apart for the cells 
# that are referenced by a function and follow the RR pattern
df = pd.read_csv(os.path.join(dataset_home, caseTwoRowsApart), header=None, names=['Num of Rows Apart', 'Instances'])
sorted_df = df.sort_values(by='Num of Rows Apart', ascending=True).reset_index(drop=True)
sorted_df

    Num of Rows Apart  Instances
0                   0      56738
1                   1       2525
2                   2         10
3                   3          4
4                   4          4
5                   5          1
6                  12         87
7                  13          3
8                  14         27
9                  15         75
10                 16         56
11                 17         49
12                 18         54
13                 21         20
14                 22          1
15                 23         76
16                 26         15
17                 29          5
18                 31         86
19                 32         48
20                 33        104
21                 34         24
22                 36         48
23                 39          1
24                 43          1
25                 44          1
26                 48         48
27                 49          4
28                 50         12
29                 53          4
30                 54         48
31                 56         18
32                 65         20
33                 66          2
34                 71         52
35                 72         48
36                 79        124
37                 84         17
38                 89         48
39                 92          1
40                 93          1
41                114         12
42                122          7
43                124          7
44                245         27
45                365          2
46                366          1

In [10]:
# The number of functions that reference an intermediate cell
df_case = pd.read_csv(os.path.join(dataset_home, numFunctionsPerCase), header=None, names=['Case', 'NumFunctions'])
df = pd.read_csv(os.path.join(dataset_home, perCaseStats), header=None, names=['Case', 'Num for Intermediate'])
df = pd.merge(df, df_case, on='Case')
df.loc[df["Case"]==2, ['NumFunctions', 'Num for Intermediate']]

   NumFunctions  Num for Intermediate
0        105236                 44670

### Case Three Statistics

In [11]:
# The number of functions that reference a single column
df = pd.read_csv(os.path.join(dataset_home, perCaseStats), header=None, names=['Case', 'Num for Single Column'])
df = pd.merge(df, df_case, on='Case')
df.loc[df["Case"]==3, ['NumFunctions', 'Num for Single Column']]

   NumFunctions  Num for Single Column
1           940                    193