In [54]:
import os
import json
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 2000)
pd.options.display.html.use_mathjax = False
#pd.set_option('styler.html.mathjax',False)

notebook_home = os.path.abspath('')
dataset_home = os.path.join(os.path.abspath(os.path.join(notebook_home, os.pardir)), "output")

spreadsheet_file = "Spreadsheet.csv"
template_file = "Template.csv"
function_file = "Function.csv"
reference_file = "Reference.csv"

In [55]:
s_column_names = ["s_id", "s_name", "s_dataset"]
s_df = pd.read_csv(os.path.join(dataset_home, spreadsheet_file), header=None, names=s_column_names)
s_df

        s_id                                       s_name s_dataset
0          1                                    README.md     Enron
1          2              albert_meyers_000_1_1.pst.0.xls     Enron
2          3              albert_meyers_000_1_1.pst.1.xls     Enron
3          4                andrea_ring_000_1_1.pst.0.xls     Enron
4          5                andrea_ring_000_1_1.pst.1.xls     Enron
...      ...                                          ...       ...
24918  24919               基础功能开发小组项目软件开发任务跟进表(基础功能).xlsx    GitHub
24919  24920  武汉市红十字会接受社会捐赠明细（二维码及pos机）第二期2020年1月27日.xlsx    GitHub
24920  24921                  （总表）大化二中在校生疫苗接种摸底排查登记表.xlsx    GitHub
24921  24922              初中科学浙江初中科学中考真题及模拟试卷分析表2的副本.xlsx    GitHub
24922  24923                浙江省（杭温金宁）七年级下英语期中试卷分析的副本.xlsx    GitHub

[24923 rows x 3 columns]

In [56]:
t_column_names = ["t_s_id", "t_id", "t_string", "t_func_number", "t_cell_number"]
t_df = pd.read_csv(os.path.join(dataset_home, template_file), header=None, names=t_column_names)
t_df = t_df[~t_df['t_string'].str.contains('#REF!')]
t_id_df = t_df[['t_s_id', 't_id']]
t_df

,t_s_id,t_id,t_string,t_func_number,t_cell_number
0,20,1,A3+1,1,455
1,22,1,"DATE(YEAR(A7+31),MONTH(A7+31),1)",5,175
2,22,2,$G$3*B7,1,175
3,22,3,H36+0.01,1,134
4,22,4,"IF(E7=0,D7,E7)",2,175
...,...,...,...,...,...
102641,24923,25,"IF(DD3="""",0,DD3/80*100)",4,387
102642,24923,26,"AVERAGE(M3,Q3,U3,Y3,AC3,AG3,AK3,AO3,AS3,AW3,BA3,BE3)",1,387
102643,24923,27,"AVERAGE(BU3,BY3,CC3,CG3,CK3)",1,387
102644,24923,28,"AVERAGE(BI3,BM3,BQ3)",1,387
102645,24923,29,"AVERAGE(CO3,CS5,CW3,DA3,DE3)",1,387

In [57]:
f_column_names = ["f_s_id", "f_t_id", "f_id", "f_string", "f_ref_num"]
f_df = pd.read_csv(os.path.join(dataset_home, function_file), header=None, names=f_column_names)
f_df = f_df.merge(t_id_df, left_on=['f_s_id', 'f_t_id'], right_on=['t_s_id', 't_id']).drop(columns=['t_s_id', 't_id'])
f_df

        f_s_id  f_t_id  f_id f_string  f_ref_num
0           20       1     1        +          2
1           22       1     1        +          2
2           22       1     2     YEAR          1
3           22       1     3        +          2
4           22       1     4    MONTH          1
...        ...     ...   ...      ...        ...
242795   24923      25     4       IF          3
242796   24923      26     1  AVERAGE         12
242797   24923      27     1  AVERAGE          5
242798   24923      28     1  AVERAGE          3
242799   24923      29     1  AVERAGE          5

[242800 rows x 5 columns]

In [58]:
r_column_names = ["r_s_id", "r_t_id", "r_f_id", "r_id", "r_pattern_type", "r_head_row", "r_head_col", "r_tail_row", "r_tail_col", "r_scalarvalue", "r_is_interm", "r_interm_f_id"]
r_df = pd.read_csv(os.path.join(dataset_home, reference_file), header=None, names=r_column_names)
r_df = r_df.merge(t_id_df, left_on=['r_s_id', 'r_t_id'], right_on=['t_s_id', 't_id']).drop(columns=['t_s_id', 't_id'])
r_df

,r_s_id,r_t_id,r_f_id,r_id,r_pattern_type,r_head_row,r_head_col,r_tail_row,r_tail_col,r_scalarvalue,r_is_interm,r_interm_f_id
0,20,1,1,1,RR,2,0,2,0,NaN,False,-1
1,20,1,1,2,FF,0,0,0,0,1,False,-1
2,22,1,1,1,RR,6,0,6,0,NaN,False,-1
3,22,1,1,2,FF,0,0,0,0,31,False,-1
4,22,1,2,1,RR,0,0,0,0,NaN,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...
472309,24923,29,1,1,RR,2,92,2,92,NaN,False,-1
472310,24923,29,1,2,RR,4,96,4,96,NaN,False,-1
472311,24923,29,1,3,RR,2,100,2,100,NaN,False,-1
472312,24923,29,1,4,RR,2,104,2,104,NaN,False,-1
472313,24923,29,1,5,RR,2,108,2,108,NaN,False,-1

## Distribution of Spreadsheet Functions

In [59]:
df = f_df.groupby('f_string').size().reset_index(name='f_str_count')
f_dist = df.sort_values(by='f_str_count', ascending=False)
f_dist.reset_index()

     index     f_string  f_str_count
0       55           IF        32180
1        1            &        23377
2        3            +        19233
3        9            =        18502
4        4            -        18339
5        5            /        14034
6        2            *        13089
7       20      AVERAGE        11704
8       76        LOWER        11096
9      126          SUM         6101
10       8           <>         5872
11      78          MAX         5672
12      82          MIN         5298
13      15          AND         4454
14      66     ISNUMBER         4408
15     115       SEARCH         4261
16      10            >         3902
17      80          MID         3410
18      70          LEN         2909
19      46         FIND         2906
20       6            <         2629
21      69         LEFT         2406
22      11           >=         2183
23       7           <=         1782
24      87        MONTH         1449
25     144      VLOOKUP         1358
26      56        INDEX         1278
27      35      COUNTIF         1262
28      12          ABS         1238
29      85          MOD         1236
30     147            ^          835
31      95           OR          748
32      29  CONCATENATE          695
33     131         TEXT          636
34     105         RAND          573
35     104      RADIANS          555
36     135        TODAY          551
37     113          ROW          495
38     124   SUBSTITUTE          493
39     110        ROUND          460
40     109        RIGHT          444
41     127        SUMIF          435
42      31          COS          415
43     146         YEAR          410
44     121         SQRT          396
45     118          SIN          391
46      24       CHOOSE          347
47      72           LN          336
48     112      ROUNDUP          334
49      61      ISBLANK          285
50      63      ISERROR          267
51      57     INDIRECT          252
52      68        LARGE          243
53      36         DATE          231
54      77        MATCH          227
55     106         RANK          210
56     138         TRIM          202
57      94       OFFSET          187
58      52      HLOOKUP          175
59      92          NOT          161
60     145      WEEKDAY          145
61     142        VALUE          140
62      32        COUNT          140
63      58          INT          135
64       0            %          126
65      39          DAY          123
66      73          LOG          121
67      23         CHAR          116
68      13         ACOS          110
69      62        ISERR          103
70      97           PI           96
71      64         ISNA           88
72     123        STDEV           87
73     128   SUMPRODUCT           81
74      99        POWER           78
75      42        EXACT           76
76     117         SIGN           70
77      37      DATEDIF           67
78      38    DATEVALUE           58
79     122  STANDARDIZE           55
80      21      CEILING           55
81     108         REPT           51
82      79       MEDIAN           50
83     141        UPPER           44
84      33       COUNTA           41
85      53         HOUR           38
86      43          EXP           36
87      54    HYPERLINK           34
88      19        ATAN2           34
89     102       PROPER           33
90     111    ROUNDDOWN           32
91     132         TIME           30
92      34   COUNTBLANK           30
93     139         TRUE           28
94     100         PPMT           27
95      26         CODE           26
96      98          PMT           26
97      74        LOG10           26
98      84        MMULT           25
99      91     NORMSINV           25
100     75       LOOKUP           21
101     88     NORMDIST           21
102    140        TRUNC           20
103    120        SMALL           19
104     27       COLUMN           17
105    136    TRANSPOSE           16
106    116       SECOND           15
107     89      NORMINV           14
108    101      PRODUCT           13
109     22         CELL           13
110     96  PERCENTRANK           12
111     60         IPMT           11
112     44        FALSE           10
113     47        FLOOR           10
114    107      REPLACE            9
115     14      ADDRESS            9
116     25        CLEAN            9
117    125     SUBTOTAL            9
118     50      GEOMEAN            9
119     18         ATAN            7
120    129        SUMSQ            7
121     30       CORREL            5
122     83       MINUTE            5
123     40      DAYS360            5
124     67       ISTEXT            5
125     93          NOW            5
126     41      DEGREES            5
127     65    ISNONTEXT            4
128     48     FORECAST            3
129     90    NORMSDIST            3
130     71         LENB            2
131    103     QUARTILE            2
132     16          ASC            2
133     17         ASIN            2
134     49    FREQUENCY            2
135    133    TIMEVALUE            2
136    119        SLOPE            2
137    130          TAN            2
138    134         TINV            1
139     28      COLUMNS            1
140    137        TREND            1
141     81         MIDB            1
142     59    INTERCEPT            1
143     45        FDIST            1
144     86         MODE            1
145    143          VAR            1
146     51      HARMEAN            1
147    114         ROWS            1

## Preparation

In [60]:
df = r_df[r_df['r_scalarvalue'].isna()].groupby(['r_s_id', 'r_t_id', 'r_f_id']).size().reset_index(name='r_count')
df

        r_s_id  r_t_id  r_f_id  r_count
0           20       1       1        1
1           22       1       1        1
2           22       1       2        1
3           22       1       3        1
4           22       1       4        1
...        ...     ...     ...      ...
240341   24923      25       4        2
240342   24923      26       1       12
240343   24923      27       1        5
240344   24923      28       1        3
240345   24923      29       1        5

[240346 rows x 4 columns]

In [61]:
one_ref_df = df[df['r_count'] == 1]
n_ref_df = df[df['r_count'] > 1]
n_ref_df

        r_s_id  r_t_id  r_f_id  r_count
5           22       1       5        2
6           22       2       1        2
9           22       4       2        3
10          22       5       1        2
11          22       5       2        2
...        ...     ...     ...      ...
240341   24923      25       4        2
240342   24923      26       1       12
240343   24923      27       1        5
240344   24923      28       1        3
240345   24923      29       1        5

[127962 rows x 4 columns]

In [62]:
ro_df = r_df[r_df['r_scalarvalue'].isna()]
has_cell_ref_df = ro_df[(ro_df['r_head_row'] == ro_df['r_tail_row']) & (ro_df['r_head_col'] == ro_df['r_tail_col']) & (ro_df['r_pattern_type'].isin(['RR', 'FF']))][['r_s_id', 'r_t_id', 'r_f_id']].drop_duplicates()
not_all_cell_df = ro_df[(ro_df['r_head_row'] != ro_df['r_tail_row']) | (ro_df['r_head_col'] != ro_df['r_tail_col']) | (ro_df['r_pattern_type'].isin(['RF', 'FR']))][['r_s_id', 'r_t_id', 'r_f_id']].drop_duplicates()

In [63]:
has_cell_ref_df

        r_s_id  r_t_id  r_f_id
0           20       1       1
2           22       1       1
4           22       1       2
5           22       1       3
7           22       1       4
...        ...     ...     ...
472286   24923      25       4
472289   24923      26       1
472301   24923      27       1
472306   24923      28       1
472309   24923      29       1

[211114 rows x 3 columns]

In [64]:
not_all_cell_df

        r_s_id  r_t_id  r_f_id
76          44       5       1
138         54       5       1
180         60       5       1
222         62       5       1
271         79       5       1
...        ...     ...     ...
472040   24912      10       1
472042   24912      11       1
472044   24913       1       1
472050   24913       2       1
472066   24921       1       1

[33035 rows x 3 columns]

In [65]:
def join_t_df(df):
    return df.merge(t_df, left_on=['r_s_id', 'r_t_id'], right_on=['t_s_id', 't_id'])
    
def join_f_df(df):
    return df.merge(f_df, left_on=['r_s_id', 'r_t_id', 'r_f_id'], right_on=['f_s_id', 'f_t_id', 'f_id'])

def join_r_df(df):
    return df.merge(r_df)

def order_by_function_frequency(df):
    df = join_f_df(df)
    df = df.groupby('f_string').size().reset_index(name='f_str_count')
    return df.sort_values(by='f_str_count', ascending=False)

def select_by_t_id(df, s_id, t_id):
    return df[(df['r_s_id'] == s_id) & (df['r_t_id'] == t_id)]

def select_by_f_id(df, s_id, t_id, f_id):
    return df[(df['r_s_id'] == s_id) & (df['r_t_id'] == t_id) & (df['r_f_id'] == f_id)]

## Case One (Single Cell Reference)

In [66]:
case_one_df = one_ref_df.merge(has_cell_ref_df)[['r_s_id', 'r_t_id', 'r_f_id', 'r_count']].drop_duplicates()
case_one_df

       r_s_id  r_t_id  r_f_id  r_count
0          20       1       1        1
1          22       1       1        1
2          22       1       2        1
3          22       1       3        1
4          22       1       4        1
...       ...     ...     ...      ...
83409   24923      22       3        1
83410   24923      24       2        1
83411   24923      24       3        1
83412   24923      25       2        1
83413   24923      25       3        1

[83414 rows x 4 columns]

In [67]:
case_one_enrich_df = join_t_df(case_one_df)
case_one_enrich_df

,r_s_id,r_t_id,r_f_id,r_count,t_s_id,t_id,t_string,t_func_number,t_cell_number
0,20,1,1,1,20,1,A3+1,1,455
1,22,1,1,1,22,1,"DATE(YEAR(A7+31),MONTH(A7+31),1)",5,175
2,22,1,2,1,22,1,"DATE(YEAR(A7+31),MONTH(A7+31),1)",5,175
3,22,1,3,1,22,1,"DATE(YEAR(A7+31),MONTH(A7+31),1)",5,175
4,22,1,4,1,22,1,"DATE(YEAR(A7+31),MONTH(A7+31),1)",5,175
...,...,...,...,...,...,...,...,...,...
83409,24923,22,3,1,24923,22,"IF(CR3="""",0,CR3/95*100)",4,387
83410,24923,24,2,1,24923,24,"IF(CZ3="""",0,CZ3/95*100)",4,387
83411,24923,24,3,1,24923,24,"IF(CZ3="""",0,CZ3/95*100)",4,387
83412,24923,25,2,1,24923,25,"IF(DD3="""",0,DD3/80*100)",4,387
83413,24923,25,3,1,24923,25,"IF(DD3="""",0,DD3/80*100)",4,387

In [68]:
case_one_enrich_df[['t_string']].drop_duplicates()

                               t_string
0                                  A3+1
1      DATE(YEAR(A7+31),MONTH(A7+31),1)
5                              H36+0.01
6                        IF(E7=0,D7,E7)
7                                +Y6-X6
...                                 ...
83404           IF(CJ3="",0,CJ3/80*100)
83406           IF(CN3="",0,CN3/85*100)
83408           IF(CR3="",0,CR3/95*100)
83410           IF(CZ3="",0,CZ3/95*100)
83412           IF(DD3="",0,DD3/80*100)

[16880 rows x 1 columns]

In [69]:
order_by_function_frequency(case_one_df)

        f_string  f_str_count
1              &        16340
9              =        12324
59         LOWER        11096
3              +         4913
51      ISNUMBER         4352
42            IF         3274
4              -         3221
2              *         3074
54           LEN         2907
5              /         1971
53          LEFT         1880
10             >         1556
68         MONTH         1434
6              <         1258
87        SEARCH         1091
12           ABS          938
62           MID          868
106            ^          792
93           SUM          754
96          TEXT          607
79       RADIANS          554
83         ROUND          457
38          FIND          442
28           COS          415
105         YEAR          407
90           SIN          391
91          SQRT          361
85       ROUNDUP          334
56            LN          334
82         RIGHT          324
19       AVERAGE          312
43         INDEX          300
61           MAX          285
46       ISBLANK          285
48       ISERROR          267
11            >=          264
44      INDIRECT          251
100         TRIM          201
8             <>          173
73           NOT          161
104      WEEKDAY          145
7             <=          135
45           INT          135
103        VALUE          134
66           MOD          129
34           DAY          123
57           LOG          117
13          ACOS          110
47         ISERR          103
27   CONCATENATE           89
64           MIN           72
89          SIGN           70
30       COUNTIF           64
92    SUBSTITUTE           61
33     DATEVALUE           55
20       CEILING           55
81          REPT           49
76         POWER           46
86           ROW           44
40          HOUR           38
37           EXP           36
84     ROUNDDOWN           32
78        PROPER           31
29    COUNTBLANK           28
72      NORMSINV           25
58         LOG10           25
15           AND           22
49          ISNA           21
101        TRUNC           20
74        OFFSET           19
41     HYPERLINK           19
102        UPPER           18
25          CODE           16
88        SECOND           15
23        CHOOSE           13
21          CELL           13
39         FLOOR           10
24         CLEAN            9
70       NORMINV            9
77       PRODUCT            8
18          ATAN            7
26        COLUMN            6
75            OR            6
52        ISTEXT            5
35       DEGREES            5
65        MINUTE            5
80       REPLACE            4
31          DATE            4
60         MATCH            4
50     ISNONTEXT            4
0              %            3
14       ADDRESS            3
69      NORMDIST            3
71     NORMSDIST            3
16           ASC            2
55          LENB            2
95           TAN            2
17          ASIN            2
97          TIME            2
98     TIMEVALUE            2
32       DATEDIF            2
22          CHAR            2
63          MIDB            1
99          TINV            1
36         EXACT            1
67          MODE            1
94    SUMPRODUCT            1

## Case Three (Single Range Reference)

In [70]:
case_three_df = one_ref_df.merge(not_all_cell_df)[['r_s_id', 'r_t_id', 'r_f_id']].drop_duplicates()
case_three_df

       r_s_id  r_t_id  r_f_id
0          44       5       1
1          54       5       1
2          60       5       1
3          62       5       1
4          79       5       1
...       ...     ...     ...
28965   24871       2       1
28966   24890       1       1
28967   24903       1       1
28968   24903       2       1
28969   24903       3       1

[28970 rows x 3 columns]

In [71]:
case_three_enrich_df = join_t_df(case_three_df)
case_three_enrich_df

,r_s_id,r_t_id,r_f_id,t_s_id,t_id,t_string,t_func_number,t_cell_number
0,44,5,1,44,5,E11*SUM(P11:Q11),2,9990
1,54,5,1,54,5,E11*SUM(P11:Q11),2,9990
2,60,5,1,60,5,E11*SUM(P11:Q11),2,9990
3,62,5,1,62,5,E11*SUM(P11:Q11),2,9990
4,79,5,1,79,5,E11*SUM(P11:Q11),2,9990
...,...,...,...,...,...,...,...,...
28965,24871,2,1,24871,2,SUM(D6:AY6),1,112
28966,24890,1,1,24890,1,LEN(D:D),1,502
28967,24903,1,1,24903,1,SUM(H3:S3),1,7806
28968,24903,2,1,24903,2,SUM(H3:S3),1,7806
28969,24903,3,1,24903,3,SUM(H3:S3),1,7806

In [72]:
order_by_function_frequency(case_three_df)

       f_string  f_str_count
8       AVERAGE        11290
25          MAX         5299
27          MIN         5171
38          SUM         5132
15      COUNTIF          899
6           ABS          300
20        LARGE          176
12        COUNT          128
36        STDEV           72
18         ISNA           67
19     ISNUMBER           56
24        MATCH           51
26       MEDIAN           49
32          ROW           43
13       COUNTA           41
5             >           28
44        UPPER           26
4             =           22
29           OR           19
42    TRANSPOSE           16
28        MONTH           15
39        SUMIF           11
2             +            8
37     SUBTOTAL            8
40        SUMSQ            5
9        COLUMN            5
35         SQRT            4
46         YEAR            3
16      GEOMEAN            3
21         LEFT            2
17      HLOOKUP            2
31     QUARTILE            2
14   COUNTBLANK            2
22          LEN            2
43         TRIM            1
45          VAR            1
41         TEXT            1
0             &            1
34        SMALL            1
33         ROWS            1
30      PRODUCT            1
1             *            1
11  CONCATENATE            1
10      COLUMNS            1
7           AND            1
3             -            1
23           LN            1

In [73]:
df = join_f_df(case_three_df)
df[df['f_string'] == '*']

      r_s_id  r_t_id  r_f_id  f_s_id  f_t_id  f_id f_string  f_ref_num
2193   19043       1       1   19043       1     1        *          2

In [74]:
select_by_t_id(case_three_enrich_df, 19043, 1)

,r_s_id,r_t_id,r_f_id,t_s_id,t_id,t_string,t_func_number,t_cell_number
2193,19043,1,1,19043,1,1000*B1:B2639,1,2639

In [75]:
df = join_r_df(case_three_df)
res_df = df[(df['r_head_col'] != df['r_tail_col']) & ((df['r_head_row'] != df['r_tail_row']) | (df['r_pattern_type'].isin(['RF', 'FR'])))]
order_by_function_frequency(res_df)

    f_string  f_str_count
4    AVERAGE           40
9        MIN           31
3          =           12
10       SUM            9
1          +            4
8        MAX            3
6    HLOOKUP            2
7   ISNUMBER            2
0          &            1
2          -            1
5     COLUMN            1
11      TEXT            1

In [76]:
res_df = df[(df['r_head_row'] != df['r_tail_row'])]
order_by_function_frequency(res_df)

    f_string  f_str_count
5    AVERAGE          338
22       SUM          231
21     STDEV           63
12  ISNUMBER           56
7      COUNT           54
17       MAX           46
19       MIN           42
18    MEDIAN           30
24     UPPER           26
4          =           22
20     MONTH           15
2          +            8
9    COUNTIF            7
6     COLUMN            5
25      YEAR            3
10   GEOMEAN            3
13      LEFT            2
16     MATCH            2
14       LEN            2
11   HLOOKUP            2
15        LN            1
1          *            1
8     COUNTA            1
23      TEXT            1
3          -            1
0          &            1

In [77]:
res_df = join_t_df(res_df[['r_s_id', 'r_t_id', 'r_f_id']])
#res_df[res_df['t_string'].str.contains('=')
res_df[res_df['r_s_id'] == 18598]
#res_df[res_df['f_string'].str.contains('=')]

,r_s_id,r_t_id,r_f_id,t_s_id,t_id,t_string,t_func_number,t_cell_number
237,18598,10,2,18598,10,"IF(OFFSET($X2,-1,0)=TRUE,TRUE,FALSE)",3,9999
238,18598,12,2,18598,12,"IF(OFFSET($Z2,-1,0)=TRUE,TRUE,FALSE)",3,9999
239,18598,14,2,18598,14,"IF(OFFSET($AB2,-1,0)=TRUE,TRUE,FALSE)",3,9999
240,18598,16,2,18598,16,"IF(OFFSET($AD2,-1,0)=TRUE,TRUE,FALSE)",3,9999
241,18598,18,2,18598,18,"IF(OFFSET($AF2,-1,0)=TRUE,TRUE,FALSE)",3,9999
242,18598,30,2,18598,30,"IF(OFFSET($AD2,-1,0)=TRUE,TRUE,FALSE)",3,9999
243,18598,32,2,18598,32,"IF(OFFSET($AF2,-1,0)=TRUE,TRUE,FALSE)",3,9999
244,18598,34,2,18598,34,"IF(OFFSET($AH2,-1,0)=TRUE,TRUE,FALSE)",3,9999
245,18598,36,2,18598,36,"IF(OFFSET($AJ2,-1,0)=TRUE,TRUE,FALSE)",3,9999
246,18598,38,2,18598,38,"IF(OFFSET($AL2,-1,0)=TRUE,TRUE,FALSE)",3,9999
247,18598,40,2,18598,40,"IF(OFFSET($AN2,-1,0)=TRUE,TRUE,FALSE)",3,9999
248,18598,42,2,18598,42,"IF(OFFSET($AP2,-1,0)=TRUE,TRUE,FALSE)",3,9999

## Case Four (Multiple Cell/Range References)

In [78]:
case_four_df = n_ref_df.merge(not_all_cell_df)[['r_s_id', 'r_t_id', 'r_f_id']].drop_duplicates()
case_four_df

      r_s_id  r_t_id  r_f_id
0        469       1       5
1        469       2       5
2        469       3       5
3        469       4       5
4        469       5       5
...      ...     ...     ...
4060   24912      10       1
4061   24912      11       1
4062   24913       1       1
4063   24913       2       1
4064   24921       1       1

[4065 rows x 3 columns]

In [79]:
case_four_enrich_df = join_f_df(case_four_df)
case_four_enrich_df

      r_s_id  r_t_id  r_f_id  f_s_id  f_t_id  f_id f_string  f_ref_num
0        469       1       5     469       1     5    INDEX          3
1        469       2       5     469       2     5    INDEX          3
2        469       3       5     469       3     5    INDEX          3
3        469       4       5     469       4     5    INDEX          3
4        469       5       5     469       5     5    INDEX          3
...      ...     ...     ...     ...     ...   ...      ...        ...
4060   24912      10       1   24912      10     1    INDEX          2
4061   24912      11       1   24912      11     1    INDEX          2
4062   24913       1       1   24913       1     1  COUNTIF          2
4063   24913       2       1   24913       2     1    MATCH          3
4064   24921       1       1   24921       1     1        &          2

[4065 rows x 8 columns]

In [80]:
vlookup_df = case_four_enrich_df[case_four_enrich_df['f_string'] == 'VLOOKUP']
df = f_df[f_df['f_string'] == 'VLOOKUP']
df = df.merge(vlookup_df, left_on=['f_s_id', 'f_t_id', 'f_id'], right_on=['r_s_id', 'r_t_id', 'r_f_id'], how='left', indicator=True)
df[df['_merge'] == 'left_only']

,f_s_id_x,f_t_id_x,f_id_x,f_string_x,f_ref_num_x,r_s_id,r_t_id,r_f_id,f_s_id_y,f_t_id_y,f_id_y,f_string_y,f_ref_num_y,_merge
1326,24173,12,5,VLOOKUP,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [81]:
t_df[(t_df['t_s_id'] == 24173) & (t_df['t_id'] == 12)]

,t_s_id,t_id,t_string,t_func_number,t_cell_number
98178,24173,12,"VLOOKUP(I1,IF(G1=5,$O$14:$P$17,IF(G1=4,$O$9:$P$12,$O$4:$P$7)),2,0)",5,332

In [82]:
order_by_function_frequency(case_four_df)

       f_string  f_str_count
36      VLOOKUP         1357
19        INDEX          978
33        SUMIF          424
13      COUNTIF          229
29         RANK          210
17      HLOOKUP          173
23        MATCH          165
18           IF          158
32          SUM           70
34   SUMPRODUCT           60
4             /           41
7             =           38
25        MMULT           25
22       LOOKUP           21
1             *           19
31        SMALL           18
28  PERCENTRANK           12
0             &           12
3             -            9
10      AVERAGE            7
26       OFFSET            5
12       CORREL            5
21        LARGE            4
6            <>            3
11  CONCATENATE            3
15     FORECAST            3
14        EXACT            3
16    FREQUENCY            2
24          MAX            2
30        SLOPE            2
35        TREND            1
2             +            1
27           OR            1
5             <            1
9            >=            1
20    INTERCEPT            1
8             >            1

In [102]:
res_df = join_r_df(join_f_df(case_four_df))
res_df1 = res_df[(res_df['f_string'] == 'IF')].reset_index()
res_df1 = res_df1[['r_s_id', 'r_t_id', 'r_f_id']]
join_t_df(res_df1).drop_duplicates().reset_index()

,index,r_s_id,r_t_id,r_f_id,t_s_id,t_id,t_string,t_func_number,t_cell_number
0,0,16953,1,10,16953,1,"IF(AND(OFFSET(A60,-$B$4,0,1,1)>=$A$34,ISNUMBER(OFFSET(A60,-$B$4,0,1,1))),OFFSET(A60,-$B$4,0,1,1),"""")",10,340
1,3,16953,8,5,16953,8,"IF(L61="""","""",OFFSET(L61,MAX($K$34:K60)-K61,-1,1,1))",5,339
2,6,18121,1,5,18121,1,"SUMIF(IF(MID($D167,1,1)=""A"",$C$27:$C$51,IF(MID($D167,1,1)=""B"",$D$27:$D$51,$E$27:$E$51)),$C167,$I$27:$I$51)",7,385
3,9,18121,1,6,18121,1,"SUMIF(IF(MID($D167,1,1)=""A"",$C$27:$C$51,IF(MID($D167,1,1)=""B"",$D$27:$D$51,$E$27:$E$51)),$C167,$I$27:$I$51)",7,385
4,12,18121,2,5,18121,2,"SUMIF(IF(MID($D167,2,1)=""A"",$C$55:$C$79,IF(MID($D167,2,1)=""B"",$D$55:$D$79,$E$55:$E$79)),$C167,$I$55:$I$79)",7,385
5,15,18121,2,6,18121,2,"SUMIF(IF(MID($D167,2,1)=""A"",$C$55:$C$79,IF(MID($D167,2,1)=""B"",$D$55:$D$79,$E$55:$E$79)),$C167,$I$55:$I$79)",7,385
6,18,18121,3,8,18121,3,"IF(MID($D167,3,1)=""@"",SUM($I$83:$I$107),SUMIF(IF(MID($D167,3,1)=""A"",$C$83:$C$107,IF(MID($D167,3,1)=""B"",$D$83:$D$107,$E$83:$E$107)),$C167,$I$83:$I$107)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,3,1)=""A"",$C$83:$C$107,IF(MID($D167,3,1)=""B"",$D$83:$D$107,$E$83:$E$107)),""BAR"",$I$83:$I$107)))",21,385
7,21,18121,3,9,18121,3,"IF(MID($D167,3,1)=""@"",SUM($I$83:$I$107),SUMIF(IF(MID($D167,3,1)=""A"",$C$83:$C$107,IF(MID($D167,3,1)=""B"",$D$83:$D$107,$E$83:$E$107)),$C167,$I$83:$I$107)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,3,1)=""A"",$C$83:$C$107,IF(MID($D167,3,1)=""B"",$D$83:$D$107,$E$83:$E$107)),""BAR"",$I$83:$I$107)))",21,385
8,24,18121,3,16,18121,3,"IF(MID($D167,3,1)=""@"",SUM($I$83:$I$107),SUMIF(IF(MID($D167,3,1)=""A"",$C$83:$C$107,IF(MID($D167,3,1)=""B"",$D$83:$D$107,$E$83:$E$107)),$C167,$I$83:$I$107)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,3,1)=""A"",$C$83:$C$107,IF(MID($D167,3,1)=""B"",$D$83:$D$107,$E$83:$E$107)),""BAR"",$I$83:$I$107)))",21,385
9,27,18121,3,17,18121,3,"IF(MID($D167,3,1)=""@"",SUM($I$83:$I$107),SUMIF(IF(MID($D167,3,1)=""A"",$C$83:$C$107,IF(MID($D167,3,1)=""B"",$D$83:$D$107,$E$83:$E$107)),$C167,$I$83:$I$107)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,3,1)=""A"",$C$83:$C$107,IF(MID($D167,3,1)=""B"",$D$83:$D$107,$E$83:$E$107)),""BAR"",$I$83:$I$107)))",21,385
10,30,18121,4,8,18121,4,"IF(MID($D167,4,1)=""@"",SUM($I$111:$I$135),SUMIF(IF(MID($D167,4,1)=""A"",$C$111:$C$135,IF(MID($D167,4,1)=""B"",$D$111:$D$135,$E$111:$E$135)),$C167,$I$111:$I$135)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,4,1)=""A"",$C$111:$C$135,IF(MID($D167,4,1)=""B"",$D$111:$D$135,$E$111:$E$135)),""BAR"",$I$111:$I$135)))",21,385
11,33,18121,4,9,18121,4,"IF(MID($D167,4,1)=""@"",SUM($I$111:$I$135),SUMIF(IF(MID($D167,4,1)=""A"",$C$111:$C$135,IF(MID($D167,4,1)=""B"",$D$111:$D$135,$E$111:$E$135)),$C167,$I$111:$I$135)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,4,1)=""A"",$C$111:$C$135,IF(MID($D167,4,1)=""B"",$D$111:$D$135,$E$111:$E$135)),""BAR"",$I$111:$I$135)))",21,385
12,36,18121,4,16,18121,4,"IF(MID($D167,4,1)=""@"",SUM($I$111:$I$135),SUMIF(IF(MID($D167,4,1)=""A"",$C$111:$C$135,IF(MID($D167,4,1)=""B"",$D$111:$D$135,$E$111:$E$135)),$C167,$I$111:$I$135)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,4,1)=""A"",$C$111:$C$135,IF(MID($D167,4,1)=""B"",$D$111:$D$135,$E$111:$E$135)),""BAR"",$I$111:$I$135)))",21,385
13,39,18121,4,17,18121,4,"IF(MID($D167,4,1)=""@"",SUM($I$111:$I$135),SUMIF(IF(MID($D167,4,1)=""A"",$C$111:$C$135,IF(MID($D167,4,1)=""B"",$D$111:$D$135,$E$111:$E$135)),$C167,$I$111:$I$135)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,4,1)=""A"",$C$111:$C$135,IF(MID($D167,4,1)=""B"",$D$111:$D$135,$E$111:$E$135)),""BAR"",$I$111:$I$135)))",21,385
14,42,18121,5,8,18121,5,"IF(MID($D167,5,1)=""@"",SUM($I$139:$I$163),SUMIF(IF(MID($D167,5,1)=""A"",$C$139:$C$163,IF(MID($D167,5,1)=""B"",$D$139:$D$163,$E$139:$E$163)),$C167,$I$139:$I$163)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,5,1)=""A"",$C$139:$C$163,IF(MID($D167,5,1)=""B"",$D$139:$D$163,$E$139:$E$163)),""BAR"",$I$139:$I$163)))",21,385
15,45,18121,5,9,18121,5,"IF(MID($D167,5,1)=""@"",SUM($I$139:$I$163),SUMIF(IF(MID($D167,5,1)=""A"",$C$139:$C$163,IF(MID($D167,5,1)=""B"",$D$139:$D$163,$E$139:$E$163)),$C167,$I$139:$I$163)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,5,1)=""A"",$C$139:$C$163,IF(MID($D167,5,1)=""B"",$D$139:$D$163,$E$139:$E$163)),""BAR"",$I$139:$I$163)))",21,385
16,48,18121,5,16,18121,5,"IF(MID($D167,5,1)=""@"",SUM($I$139:$I$163),SUMIF(IF(MID($D167,5,1)=""A"",$C$139:$C$163,IF(MID($D167,5,1)=""B"",$D$139:$D$163,$E$139:$E$163)),$C167,$I$139:$I$163)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,5,1)=""A"",$C$139:$C$163,IF(MID($D167,5,1)=""B"",$D$139:$D$163,$E$139:$E$163)),""BAR"",$I$139:$I$163)))",21,385
17,51,18121,5,17,18121,5,"IF(MID($D167,5,1)=""@"",SUM($I$139:$I$163),SUMIF(IF(MID($D167,5,1)=""A"",$C$139:$C$163,IF(MID($D167,5,1)=""B"",$D$139:$D$163,$E$139:$E$163)),$C167,$I$139:$I$163)+IF($C167=""BAR"",0,SUMIF(IF(MID($D167,5,1)=""A"",$C$139:$C$163,IF(MID($D167,5,1)=""B"",$D$139:$D$163,$E$139:$E$163)),""BAR"",$I$139:$I$163)))",21,385
18,54,18989,2,4,18989,2,"IF(G2=2,OFFSET(Z2,0,H2-2,1,1),""não se aplica"")",4,129
19,57,19506,14,2,19506,14,"MAX(IF(ISNA(J4:EC4),"""",J4:EC4))",3,249
20,60,19507,14,2,19507,14,"MAX(IF(ISNA(J4:EC4),"""",J4:EC4))",3,249
21,63,19508,14,2,19508,14,"MAX(IF(ISNA(J4:EC4),"""",J4:EC4))",3,249
22,66,19509,14,2,19509,14,"MAX(IF(ISNA(J4:EC4),"""",J4:EC4))",3,249
23,69,19513,50,2,19513,50,"LARGE(IF(ISNA(L4:FN4),"""",L4:FN4),GK$2)",3,249
24,72,19513,51,2,19513,51,"LARGE(IF(ISNA(M4:FO4),"""",M4:FO4),GL$2)",3,249
25,75,19513,52,2,19513,52,"LARGE(IF(ISNA(N4:FP4),"""",N4:FP4),GM$2)",3,249
26,78,19513,53,2,19513,53,"LARGE(IF(ISNA(O4:FQ4),"""",O4:FQ4),GN$2)",3,249
27,81,19513,54,2,19513,54,"LARGE(IF(ISNA(P4:FR4),"""",P4:FR4),GO$2)",3,249
28,84,19513,55,2,19513,55,"LARGE(IF(ISNA(Q4:FS4),"""",Q4:FS4),GP$2)",3,249
29,87,19513,56,2,19513,56,"LARGE(IF(ISNA(R4:FT4),"""",R4:FT4),GQ$2)",3,249
30,90,19514,50,2,19514,50,"LARGE(IF(ISNA(L4:FN4),"""",L4:FN4),GK$2)",3,249
31,93,19514,51,2,19514,51,"LARGE(IF(ISNA(M4:FO4),"""",M4:FO4),GL$2)",3,249
32,96,19514,52,2,19514,52,"LARGE(IF(ISNA(N4:FP4),"""",N4:FP4),GM$2)",3,249
33,99,19514,53,2,19514,53,"LARGE(IF(ISNA(O4:FQ4),"""",O4:FQ4),GN$2)",3,249
34,102,19514,54,2,19514,54,"LARGE(IF(ISNA(P4:FR4),"""",P4:FR4),GO$2)",3,249
35,105,19514,55,2,19514,55,"LARGE(IF(ISNA(Q4:FS4),"""",Q4:FS4),GP$2)",3,249
36,108,19514,56,2,19514,56,"LARGE(IF(ISNA(R4:FT4),"""",R4:FT4),GQ$2)",3,249
37,111,19514,89,2,19514,89,"LARGE(IF(ISNA(L4:FN4),"""",L4:FN4),GK$2)",3,248
38,114,19514,90,2,19514,90,"LARGE(IF(ISNA(M4:FO4),"""",M4:FO4),GL$2)",3,248
39,117,19514,91,2,19514,91,"LARGE(IF(ISNA(N4:FP4),"""",N4:FP4),GM$2)",3,248
40,120,19514,92,2,19514,92,"LARGE(IF(ISNA(O4:FQ4),"""",O4:FQ4),GN$2)",3,248
41,123,19514,93,2,19514,93,"LARGE(IF(ISNA(P4:FR4),"""",P4:FR4),GO$2)",3,248
42,126,19514,94,2,19514,94,"LARGE(IF(ISNA(Q4:FS4),"""",Q4:FS4),GP$2)",3,248
43,129,19514,95,2,19514,95,"LARGE(IF(ISNA(R4:FT4),"""",R4:FT4),GQ$2)",3,248
44,132,19515,50,2,19515,50,"LARGE(IF(ISNA(L4:FN4),"""",L4:FN4),GK$2)",3,249
45,135,19515,51,2,19515,51,"LARGE(IF(ISNA(M4:FO4),"""",M4:FO4),GL$2)",3,249
46,138,19515,52,2,19515,52,"LARGE(IF(ISNA(N4:FP4),"""",N4:FP4),GM$2)",3,249
47,141,19515,53,2,19515,53,"LARGE(IF(ISNA(O4:FQ4),"""",O4:FQ4),GN$2)",3,249
48,144,19515,54,2,19515,54,"LARGE(IF(ISNA(P4:FR4),"""",P4:FR4),GO$2)",3,249
49,147,19515,55,2,19515,55,"LARGE(IF(ISNA(Q4:FS4),"""",Q4:FS4),GP$2)",3,249
50,150,19515,56,2,19515,56,"LARGE(IF(ISNA(R4:FT4),"""",R4:FT4),GQ$2)",3,249
51,153,19515,89,2,19515,89,"LARGE(IF(ISNA(L4:FN4),"""",L4:FN4),GK$2)",3,248
52,156,19515,90,2,19515,90,"LARGE(IF(ISNA(M4:FO4),"""",M4:FO4),GL$2)",3,248
53,159,19515,91,2,19515,91,"LARGE(IF(ISNA(N4:FP4),"""",N4:FP4),GM$2)",3,248
54,162,19515,92,2,19515,92,"LARGE(IF(ISNA(O4:FQ4),"""",O4:FQ4),GN$2)",3,248
55,165,19515,93,2,19515,93,"LARGE(IF(ISNA(P4:FR4),"""",P4:FR4),GO$2)",3,248
56,168,19515,94,2,19515,94,"LARGE(IF(ISNA(Q4:FS4),"""",Q4:FS4),GP$2)",3,248
57,171,19515,95,2,19515,95,"LARGE(IF(ISNA(R4:FT4),"""",R4:FT4),GQ$2)",3,248
58,174,19516,43,2,19516,43,"LARGE(IF(ISNA(L4:FN4),"""",L4:FN4),GK$2)",3,249
59,177,19516,44,2,19516,44,"LARGE(IF(ISNA(M4:FO4),"""",M4:FO4),GL$2)",3,249
60,180,19516,45,2,19516,45,"LARGE(IF(ISNA(N4:FP4),"""",N4:FP4),GM$2)",3,249
61,183,19516,46,2,19516,46,"LARGE(IF(ISNA(O4:FQ4),"""",O4:FQ4),GN$2)",3,249
62,186,19516,47,2,19516,47,"LARGE(IF(ISNA(P4:FR4),"""",P4:FR4),GO$2)",3,249
63,189,19516,48,2,19516,48,"LARGE(IF(ISNA(Q4:FS4),"""",Q4:FS4),GP$2)",3,249
64,192,19516,49,2,19516,49,"LARGE(IF(ISNA(R4:FT4),"""",R4:FT4),GQ$2)",3,249
65,195,19516,82,2,19516,82,"LARGE(IF(ISNA(L4:FN4),"""",L4:FN4),GK$2)",3,248
66,198,19516,83,2,19516,83,"LARGE(IF(ISNA(M4:FO4),"""",M4:FO4),GL$2)",3,248
67,201,19516,84,2,19516,84,"LARGE(IF(ISNA(N4:FP4),"""",N4:FP4),GM$2)",3,248
68,204,19516,85,2,19516,85,"LARGE(IF(ISNA(O4:FQ4),"""",O4:FQ4),GN$2)",3,248
69,207,19516,86,2,19516,86,"LARGE(IF(ISNA(P4:FR4),"""",P4:FR4),GO$2)",3,248
70,210,19516,87,2,19516,87,"LARGE(IF(ISNA(Q4:FS4),"""",Q4:FS4),GP$2)",3,248
71,213,19516,88,2,19516,88,"LARGE(IF(ISNA(R4:FT4),"""",R4:FT4),GQ$2)",3,248
72,216,19517,43,2,19517,43,"LARGE(IF(ISNA(L4:FN4),"""",L4:FN4),HP$2)",3,249
73,219,19517,44,2,19517,44,"LARGE(IF(ISNA(M4:GT4),"""",M4:GT4),HQ$2)",3,249
74,222,19517,45,2,19517,45,"LARGE(IF(ISNA(N4:GU4),"""",N4:GU4),HR$2)",3,249
75,225,19517,46,2,19517,46,"LARGE(IF(ISNA(O4:GV4),"""",O4:GV4),HS$2)",3,249
76,228,19517,47,2,19517,47,"LARGE(IF(ISNA(P4:GW4),"""",P4:GW4),HT$2)",3,249
77,231,19517,48,2,19517,48,"LARGE(IF(ISNA(Q4:GX4),"""",Q4:GX4),HU$2)",3,249
78,234,19517,49,2,19517,49,"LARGE(IF(ISNA(R4:GY4),"""",R4:GY4),HV$2)",3,249
79,237,19517,82,2,19517,82,"LARGE(IF(ISNA(L4:FN4),"""",L4:FN4),HP$2)",3,248
80,240,19517,83,2,19517,83,"LARGE(IF(ISNA(M4:GT4),"""",M4:GT4),HQ$2)",3,248
81,243,19517,84,2,19517,84,"LARGE(IF(ISNA(N4:GU4),"""",N4:GU4),HR$2)",3,248
82,246,19517,85,2,19517,85,"LARGE(IF(ISNA(O4:GV4),"""",O4:GV4),HS$2)",3,248
83,249,19517,86,2,19517,86,"LARGE(IF(ISNA(P4:GW4),"""",P4:GW4),HT$2)",3,248
84,252,19517,87,2,19517,87,"LARGE(IF(ISNA(Q4:GX4),"""",Q4:GX4),HU$2)",3,248
85,255,19517,88,2,19517,88,"LARGE(IF(ISNA(R4:GY4),"""",R4:GY4),HV$2)",3,248
86,258,21324,1,2,21324,1,"IF(MIN(IF(F4:Y4>1,F4:Y4))=0,"""",MIN(IF(F4:Y4>1,F4:Y4)))",8,7993
87,260,21324,1,6,21324,1,"IF(MIN(IF(F4:Y4>1,F4:Y4))=0,"""",MIN(IF(F4:Y4>1,F4:Y4)))",8,7993
88,262,21324,2,2,21324,2,"IF(MAX(IF(F4:Y4>1,F4:Y4))=0,"""",MAX(IF(F4:Y4>1,F4:Y4)))",8,7993
89,264,21324,2,6,21324,2,"IF(MAX(IF(F4:Y4>1,F4:Y4))=0,"""",MAX(IF(F4:Y4>1,F4:Y4)))",8,7993
90,266,21324,3,2,21324,3,"IF(MIN(IF(F4:AU4>1,F4:AU4))=0,"""",MIN(IF(F4:AU4>1,F4:AU4)))",8,770
91,268,21324,3,6,21324,3,"IF(MIN(IF(F4:AU4>1,F4:AU4))=0,"""",MIN(IF(F4:AU4>1,F4:AU4)))",8,770
92,270,21324,4,2,21324,4,"IF(MAX(IF(F4:AU4>1,F4:AU4))=0,"""",MAX(IF(F4:AU4>1,F4:AU4)))",8,770
93,272,21324,4,6,21324,4,"IF(MAX(IF(F4:AU4>1,F4:AU4))=0,"""",MAX(IF(F4:AU4>1,F4:AU4)))",8,770
94,274,21324,5,2,21324,5,"IF(MIN(IF(J4:Z4>1,J4:Z4))=0,"""",MIN(IF(J4:Z4>1,J4:Z4)))",8,6031
95,276,21324,5,6,21324,5,"IF(MIN(IF(J4:Z4>1,J4:Z4))=0,"""",MIN(IF(J4:Z4>1,J4:Z4)))",8,6031
96,278,21324,6,2,21324,6,"IF(MAX(IF(J4:Z4>1,J4:Z4))=0,"""",MAX(IF(J4:Z4>1,J4:Z4)))",8,6031
97,280,21324,6,6,21324,6,"IF(MAX(IF(J4:Z4>1,J4:Z4))=0,"""",MAX(IF(J4:Z4>1,J4:Z4)))",8,6031
98,282,21442,6,7,21442,6,"IF($AK3<>"""",IF(OFFSET(AM$3,$AK3-3,0)="""","""",OFFSET(AM$3,$AK3-3,0)),"""")",8,323
99,285,21442,7,7,21442,7,"IF($AK3<>"""",IF(OFFSET(AN$3,$AK3-3,0)="""","""",OFFSET(AN$3,$AK3-3,0)),"""")",8,323
100,288,21442,8,7,21442,8,"IF($AU3<>"""",IF(OFFSET(AW$3,$AU3-3,0)="""","""",OFFSET(AW$3,$AU3-3,0)),"""")",8,323
101,291,21442,9,7,21442,9,"IF($AU3<>"""",IF(OFFSET(AX$3,$AU3-3,0)="""","""",OFFSET(AX$3,$AU3-3,0)),"""")",8,323
102,294,21443,11,7,21443,11,"IF(AW3<>"""",IF(OFFSET(AY$3,AW3-3,0)="""","""",OFFSET(AY$3,AW3-3,0)),"""")",8,323
103,297,21443,12,7,21443,12,"IF(AW3<>"""",IF(OFFSET(AZ$3,AW3-3,0)="""","""",OFFSET(AZ$3,AW3-3,0)),"""")",8,323
104,300,21443,13,7,21443,13,"IF(BG3<>"""",IF(OFFSET(BI$3,BG3-3,0)="""","""",OFFSET(BI$3,BG3-3,0)),"""")",8,323
105,303,21443,14,7,21443,14,"IF(BG3<>"""",IF(OFFSET(BJ$3,BG3-3,0)="""","""",OFFSET(BJ$3,BG3-3,0)),"""")",8,323
106,306,21443,15,7,21443,15,"IF(BQ3<>"""",IF(OFFSET(BS$3,BQ3-3,0)="""","""",OFFSET(BS$3,BQ3-3,0)),"""")",8,323
107,309,21443,16,7,21443,16,"IF(BQ3<>"""",IF(OFFSET(BT$3,BQ3-3,0)="""","""",OFFSET(BT$3,BQ3-3,0)),"""")",8,323
108,312,21444,161,7,21444,161,"IF(AM3<>"""",IF(OFFSET(AO$3,AM3-3,0)="""","""",OFFSET(AO$3,AM3-3,0)),"""")",8,323
109,315,21444,162,7,21444,162,"IF(AM3<>"""",IF(OFFSET(AP$3,AM3-3,0)="""","""",OFFSET(AP$3,AM3-3,0)),"""")",8,323
110,318,21444,163,7,21444,163,"IF(AW3<>"""",IF(OFFSET(AY$3,AW3-3,0)="""","""",OFFSET(AY$3,AW3-3,0)),"""")",8,323
111,321,21444,164,7,21444,164,"IF(AW3<>"""",IF(OFFSET(AZ$3,AW3-3,0)="""","""",OFFSET(AZ$3,AW3-3,0)),"""")",8,323
112,324,21445,31,7,21445,31,"IF(BG95<>"""",IF(OFFSET(BI$3,BG95-3,0)="""","""",OFFSET(BI$3,BG95-3,0)),"""")",8,233
113,327,21445,32,7,21445,32,"IF(BG95<>"""",IF(OFFSET(BJ$3,BG95-3,0)="""","""",OFFSET(BJ$3,BG95-3,0)),"""")",8,233
114,330,21445,33,7,21445,33,"IF(BQ93<>"""",IF(OFFSET(BS$3,BQ93-3,0)="""","""",OFFSET(BS$3,BQ93-3,0)),"""")",8,224
115,333,21445,34,7,21445,34,"IF(BQ93<>"""",IF(OFFSET(BT$3,BQ93-3,0)="""","""",OFFSET(BT$3,BQ93-3,0)),"""")",8,224
116,336,21445,35,7,21445,35,"IF(CB93<>"""",IF(OFFSET(CD$3,CB93-3,0)="""","""",OFFSET(CD$3,CB93-3,0)),"""")",8,224
117,339,21445,36,7,21445,36,"IF(CB93<>"""",IF(OFFSET(CE$3,CB93-3,0)="""","""",OFFSET(CE$3,CB93-3,0)),"""")",8,224
118,342,21445,37,7,21445,37,"IF(CL93<>"""",IF(OFFSET(CN$3,CL93-3,0)="""","""",OFFSET(CN$3,CL93-3,0)),"""")",8,224
119,345,21445,38,7,21445,38,"IF(CL93<>"""",IF(OFFSET(CO$3,CL93-3,0)="""","""",OFFSET(CO$3,CL93-3,0)),"""")",8,224
120,348,21446,96,7,21446,96,"IF(AM3<>"""",IF(OFFSET(AO$3,AM3-3,0)="""","""",OFFSET(AO$3,AM3-3,0)),"""")",8,323
121,351,21446,97,7,21446,97,"IF(AM3<>"""",IF(OFFSET(AP$3,AM3-3,0)="""","""",OFFSET(AP$3,AM3-3,0)),"""")",8,323
122,354,21446,98,7,21446,98,"IF(AW3<>"""",IF(OFFSET(AY$3,AW3-3,0)="""","""",OFFSET(AY$3,AW3-3,0)),"""")",8,323
123,357,21446,99,7,21446,99,"IF(AW3<>"""",IF(OFFSET(AZ$3,AW3-3,0)="""","""",OFFSET(AZ$3,AW3-3,0)),"""")",8,323
124,360,21447,6,7,21447,6,"IF(AM95<>"""",IF(OFFSET(AO$3,AM95-3,0)="""","""",OFFSET(AO$3,AM95-3,0)),"""")",8,233
125,363,21447,7,7,21447,7,"IF(AM95<>"""",IF(OFFSET(AP$3,AM95-3,0)="""","""",OFFSET(AP$3,AM95-3,0)),"""")",8,233
126,366,21447,8,7,21447,8,"IF(AW93<>"""",IF(OFFSET(AY$3,AW93-3,0)="""","""",OFFSET(AY$3,AW93-3,0)),"""")",8,224
127,369,21447,9,7,21447,9,"IF(AW93<>"""",IF(OFFSET(AZ$3,AW93-3,0)="""","""",OFFSET(AZ$3,AW93-3,0)),"""")",8,224
128,372,21516,1,2,21516,1,"IF(MIN(IF(J4:L4>1,J4:L4))=0,"""",MIN(IF(J4:L4>1,J4:L4)))",8,274
129,374,21516,1,6,21516,1,"IF(MIN(IF(J4:L4>1,J4:L4))=0,"""",MIN(IF(J4:L4>1,J4:L4)))",8,274
130,376,21516,2,2,21516,2,"IF(MAX(IF(J4:L4>1,J4:L4))=0,"""",MAX(IF(J4:L4>1,J4:L4)))",8,274
131,378,21516,2,6,21516,2,"IF(MAX(IF(J4:L4>1,J4:L4))=0,"""",MAX(IF(J4:L4>1,J4:L4)))",8,274
132,380,21517,1,2,21517,1,"IF(MIN(IF(F4:Y4>1,F4:Y4))=0,"""",MIN(IF(F4:Y4>1,F4:Y4)))",8,1888
133,382,21517,1,6,21517,1,"IF(MIN(IF(F4:Y4>1,F4:Y4))=0,"""",MIN(IF(F4:Y4>1,F4:Y4)))",8,1888
134,384,21517,2,2,21517,2,"IF(MAX(IF(F4:Y4>1,F4:Y4))=0,"""",MAX(IF(F4:Y4>1,F4:Y4)))",8,1888
135,386,21517,2,6,21517,2,"IF(MAX(IF(F4:Y4>1,F4:Y4))=0,"""",MAX(IF(F4:Y4>1,F4:Y4)))",8,1888
136,388,21517,3,2,21517,3,"IF(MIN(IF(F4:H4>1,F4:H4))=0,"""",MIN(IF(F4:H4>1,F4:H4)))",8,765
137,390,21517,3,6,21517,3,"IF(MIN(IF(F4:H4>1,F4:H4))=0,"""",MIN(IF(F4:H4>1,F4:H4)))",8,765
138,392,21517,4,2,21517,4,"IF(MAX(IF(F4:H4>1,F4:H4))=0,"""",MAX(IF(F4:H4>1,F4:H4)))",8,765
139,394,21517,4,6,21517,4,"IF(MAX(IF(F4:H4>1,F4:H4))=0,"""",MAX(IF(F4:H4>1,F4:H4)))",8,765
140,396,21517,5,2,21517,5,"IF(MIN(IF(J4:R4>1,J4:R4))=0,"""",MIN(IF(J4:R4>1,J4:R4)))",8,1781
141,398,21517,5,6,21517,5,"IF(MIN(IF(J4:R4>1,J4:R4))=0,"""",MIN(IF(J4:R4>1,J4:R4)))",8,1781
142,400,21517,6,2,21517,6,"IF(MAX(IF(J4:R4>1,J4:R4))=0,"""",MAX(IF(J4:R4>1,J4:R4)))",8,1781
143,402,21517,6,6,21517,6,"IF(MAX(IF(J4:R4>1,J4:R4))=0,"""",MAX(IF(J4:R4>1,J4:R4)))",8,1781
144,404,21724,6,4,21724,6,"IF(E2>10,OFFSET(F2,10-E2,0),F2)",4,420
145,407,21728,1,5,21728,1,"IF(H118="""",0,IF(F118="""",OFFSET(J118,-1,0),F118/G118))",6,632
146,410,21729,1,5,21729,1,"IF(H118="""",0,IF(F118="""",OFFSET(J118,-1,0),F118/G118))",6,632
147,413,21741,4,4,21741,4,"IF($A15=""*"","""",IF($B15=""PRC_NOFF"",""BOH"",OFFSET(G$8,K15,0)))",5,235
148,416,23206,2,4,23206,2,"IF(M2<>"""",OFFSET(D1,$K$3-1,0,1,1),"""")",4,153
149,419,23206,3,4,23206,3,"IF(M2<>"""",OFFSET(E1,$K$3-1,0,1,1),"""")",4,153
150,422,23206,5,4,23206,5,"IF(L2<>"""",OFFSET(C1,$J$3-1,0,1,1),"""")",4,119
151,425,23206,6,4,23206,6,"IF(L2<>"""",OFFSET(D1,$J$3-1,0,1,1),"""")",4,119
152,428,23207,2,4,23207,2,"IF(M2<>"""",OFFSET(D1,$K$3-1,0,1,1),"""")",4,153
153,431,23207,3,4,23207,3,"IF(M2<>"""",OFFSET(E1,$K$3-1,0,1,1),"""")",4,153
154,434,23207,5,4,23207,5,"IF(L2<>"""",OFFSET(C1,$J$3-1,0,1,1),"""")",4,119
155,437,23207,6,4,23207,6,"IF(L2<>"""",OFFSET(D1,$J$3-1,0,1,1),"""")",4,119
156,440,24173,12,3,24173,12,"VLOOKUP(I1,IF(G1=5,$O$14:$P$17,IF(G1=4,$O$9:$P$12,$O$4:$P$7)),2,0)",5,332
157,443,24173,12,4,24173,12,"VLOOKUP(I1,IF(G1=5,$O$14:$P$17,IF(G1=4,$O$9:$P$12,$O$4:$P$7)),2,0)",5,332

In [84]:
res_df = join_r_df(join_f_df(case_four_df))
res_df1 = res_df[(res_df['f_string'] == 'VLOOKUP') & (((res_df['r_id'] == 3) & (res_df['r_pattern_type'] != 'FF')) | ((res_df['r_id'] == 2) & (res_df['r_pattern_type'] != 'FF')))].reset_index()
res_df1

,index,r_s_id,r_t_id,r_f_id,f_s_id,f_t_id,f_id,f_string,f_ref_num,r_id,r_pattern_type,r_head_row,r_head_col,r_tail_row,r_tail_col,r_scalarvalue,r_is_interm,r_interm_f_id
0,1538,17620,1,3,17620,1,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
1,1542,17620,2,3,17620,2,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
2,1546,17620,3,3,17620,3,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
3,1550,17620,4,3,17620,4,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
4,1554,17620,5,3,17620,5,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
5,1558,17620,6,3,17620,6,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
6,1562,17620,7,3,17620,7,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
7,1566,17620,8,3,17620,8,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
8,1570,17620,9,3,17620,9,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
9,1574,17620,10,3,17620,10,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
10,1578,17620,12,3,17620,12,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
11,1582,17620,13,3,17620,13,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
12,1586,17620,14,3,17620,14,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
13,1590,17620,15,3,17620,15,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
14,1594,17620,16,3,17620,16,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
15,1598,17620,17,3,17620,17,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
16,1602,17620,18,3,17620,18,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
17,1606,17620,19,3,17620,19,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
18,1610,17620,20,3,17620,20,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
19,1614,17620,21,3,17620,21,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
20,1618,17620,22,3,17620,22,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
21,1622,17620,23,3,17620,23,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
22,1626,17620,24,3,17620,24,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
23,1630,17620,25,3,17620,25,3,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,2
24,1774,17914,8,3,17914,8,3,VLOOKUP,4,3,RR,0,0,0,0,NaN,True,2
25,2035,18121,6,3,18121,6,3,VLOOKUP,4,3,RR,0,0,0,0,NaN,True,2
26,3419,19556,1,1,19556,1,1,VLOOKUP,4,2,RR,1,16,2467,27,NaN,False,-1
27,9006,21681,3,5,21681,3,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
28,9010,21681,4,5,21681,4,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
29,9014,21681,5,5,21681,5,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
30,9018,21681,6,5,21681,6,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
31,9022,21681,7,5,21681,7,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
32,9026,21681,7,11,21681,7,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
33,9030,21681,8,5,21681,8,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
34,9034,21681,9,5,21681,9,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
35,9038,21681,10,5,21681,10,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
36,9042,21681,11,5,21681,11,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
37,9046,21681,14,5,21681,14,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
38,9050,21681,15,5,21681,15,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
39,9054,21681,16,5,21681,16,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
40,9058,21681,17,5,21681,17,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
41,9062,21681,18,5,21681,18,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
42,9066,21681,18,11,21681,18,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
43,9070,21681,19,5,21681,19,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
44,9074,21681,20,5,21681,20,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
45,9078,21681,21,5,21681,21,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
46,9082,21681,22,5,21681,22,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
47,9086,21681,25,5,21681,25,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
48,9090,21681,26,5,21681,26,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
49,9094,21681,27,5,21681,27,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
50,9098,21681,28,5,21681,28,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
51,9102,21681,29,5,21681,29,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
52,9106,21681,29,11,21681,29,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
53,9110,21681,30,5,21681,30,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
54,9114,21681,31,5,21681,31,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
55,9118,21681,32,5,21681,32,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
56,9122,21681,33,5,21681,33,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
57,9126,21681,36,5,21681,36,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
58,9130,21681,37,5,21681,37,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
59,9134,21681,38,5,21681,38,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
60,9138,21681,39,5,21681,39,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
61,9142,21681,39,11,21681,39,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
62,9146,21681,40,5,21681,40,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
63,9150,21681,41,5,21681,41,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
64,9154,21681,42,5,21681,42,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
65,9158,21681,43,5,21681,43,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
66,9162,21681,46,5,21681,46,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
67,9166,21681,47,5,21681,47,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
68,9170,21681,48,5,21681,48,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
69,9174,21681,49,5,21681,49,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
70,9178,21681,50,5,21681,50,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
71,9182,21681,50,11,21681,50,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
72,9186,21681,51,5,21681,51,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
73,9190,21681,52,5,21681,52,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
74,9194,21681,53,5,21681,53,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
75,9198,21681,54,5,21681,54,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
76,9202,21681,57,5,21681,57,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
77,9206,21681,58,5,21681,58,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
78,9210,21681,59,5,21681,59,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
79,9214,21681,60,5,21681,60,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
80,9218,21681,61,5,21681,61,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
81,9222,21681,61,11,21681,61,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
82,9226,21681,62,5,21681,62,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
83,9230,21681,63,5,21681,63,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
84,9234,21681,64,5,21681,64,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
85,9238,21681,65,5,21681,65,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
86,9242,21681,68,5,21681,68,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
87,9246,21681,69,5,21681,69,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
88,9250,21681,70,5,21681,70,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
89,9254,21681,71,5,21681,71,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
90,9258,21681,72,5,21681,72,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
91,9262,21681,72,11,21681,72,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
92,9266,21681,73,5,21681,73,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
93,9270,21681,74,5,21681,74,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
94,9274,21681,75,5,21681,75,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
95,9278,21681,76,5,21681,76,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
96,9282,21681,79,5,21681,79,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
97,9286,21681,80,5,21681,80,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
98,9290,21681,81,5,21681,81,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
99,9294,21681,82,5,21681,82,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
100,9298,21681,83,5,21681,83,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
101,9302,21681,83,11,21681,83,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
102,9306,21681,84,5,21681,84,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
103,9310,21681,85,5,21681,85,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
104,9314,21681,86,5,21681,86,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
105,9318,21681,87,5,21681,87,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
106,9322,21681,90,5,21681,90,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
107,9326,21681,91,5,21681,91,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
108,9330,21681,92,5,21681,92,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
109,9334,21681,93,5,21681,93,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
110,9338,21681,94,5,21681,94,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
111,9342,21681,94,11,21681,94,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
112,9346,21681,95,5,21681,95,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
113,9350,21681,96,5,21681,96,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
114,9354,21681,97,5,21681,97,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
115,9358,21681,98,5,21681,98,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
116,9362,21681,101,5,21681,101,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
117,9366,21681,102,5,21681,102,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
118,9370,21681,103,5,21681,103,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
119,9374,21681,104,5,21681,104,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
120,9378,21681,105,5,21681,105,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
121,9382,21681,105,11,21681,105,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
122,9386,21681,106,5,21681,106,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
123,9390,21681,107,5,21681,107,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
124,9394,21681,108,5,21681,108,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
125,9398,21681,109,5,21681,109,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
126,9402,21681,112,5,21681,112,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
127,9406,21681,113,5,21681,113,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
128,9410,21681,114,5,21681,114,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
129,9414,21681,115,5,21681,115,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
130,9418,21681,116,5,21681,116,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
131,9422,21681,116,11,21681,116,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
132,9426,21681,117,5,21681,117,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
133,9430,21681,118,5,21681,118,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
134,9434,21681,119,5,21681,119,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
135,9438,21681,120,5,21681,120,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
136,9442,21681,123,5,21681,123,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
137,9446,21681,124,5,21681,124,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
138,9450,21681,125,5,21681,125,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
139,9454,21681,126,5,21681,126,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
140,9458,21681,127,5,21681,127,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
141,9462,21681,127,11,21681,127,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
142,9466,21681,128,5,21681,128,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
143,9470,21681,129,5,21681,129,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
144,9474,21681,130,5,21681,130,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
145,9478,21681,131,5,21681,131,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
146,9482,21681,134,5,21681,134,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
147,9486,21681,135,5,21681,135,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
148,9490,21681,136,5,21681,136,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
149,9494,21681,137,5,21681,137,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
150,9498,21681,138,5,21681,138,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
151,9502,21681,138,11,21681,138,11,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,10
152,9506,21681,139,5,21681,139,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
153,9510,21681,140,5,21681,140,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
154,9514,21681,141,5,21681,141,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
155,9518,21681,142,5,21681,142,5,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,4
156,9778,21933,1,4,21933,1,4,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,3
157,9782,21933,2,4,21933,2,4,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,3
158,9786,21933,3,4,21933,3,4,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,3
159,9790,21933,4,4,21933,4,4,VLOOKUP,4,2,RR,0,0,1,1,NaN,True,3
160,11226,23593,31,1,23593,31,1,VLOOKUP,4,2,FR,0,0,0,0,NaN,False,-1
161,11230,23593,32,2,23593,32,2,VLOOKUP,4,2,FR,0,0,0,3,NaN,False,-1

In [85]:
res_df1 = res_df1[['r_s_id', 'r_t_id', 'r_f_id']]
join_t_df(res_df1).drop_duplicates().reset_index()

,index,r_s_id,r_t_id,r_f_id,t_s_id,t_id,t_string,t_func_number,t_cell_number
0,0,17620,1,3,17620,1,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),2,FALSE)",3,421
1,1,17620,2,3,17620,2,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),3,FALSE)",3,421
2,2,17620,3,3,17620,3,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),4,FALSE)",3,421
3,3,17620,4,3,17620,4,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),5,FALSE)",3,421
4,4,17620,5,3,17620,5,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),6,FALSE)",3,421
5,5,17620,6,3,17620,6,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),7,FALSE)",3,421
6,6,17620,7,3,17620,7,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),8,FALSE)",3,421
7,7,17620,8,3,17620,8,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),9,FALSE)",3,421
8,8,17620,9,3,17620,9,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),10,FALSE)",3,421
9,9,17620,10,3,17620,10,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),11,FALSE)",3,421
10,10,17620,12,3,17620,12,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),13,FALSE)",3,349
11,11,17620,13,3,17620,13,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),14,FALSE)",3,421
12,12,17620,14,3,17620,14,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),15,FALSE)",3,421
13,13,17620,15,3,17620,15,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),16,FALSE)",3,421
14,14,17620,16,3,17620,16,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),17,FALSE)",3,421
15,15,17620,17,3,17620,17,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),18,FALSE)",3,421
16,16,17620,18,3,17620,18,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),19,FALSE)",3,421
17,17,17620,19,3,17620,19,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),20,FALSE)",3,421
18,18,17620,20,3,17620,20,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),21,FALSE)",3,421
19,19,17620,21,3,17620,21,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),22,FALSE)",3,421
20,20,17620,22,3,17620,22,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),23,FALSE)",3,421
21,21,17620,23,3,17620,23,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),24,FALSE)",3,421
22,22,17620,24,3,17620,24,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),25,FALSE)",3,421
23,23,17620,25,3,17620,25,"VLOOKUP($A2,INDIRECT($D2&""!$A$1:$Z$300""),26,FALSE)",3,421
24,24,17914,8,3,17914,8,"VLOOKUP(VLOOKUP(F2,J:K,2,0),$M$2:$U$9,E2+2,0)",3,108
25,25,18121,6,3,18121,6,"VLOOKUP($C179,$P$4:$T$17,VALUE(RIGHT($B179,1)),0)",3,373
26,26,19556,1,1,19556,1,"VLOOKUP($I$2,$Q$2:$AB$2468,2,FALSE)",1,1046
27,27,21681,3,5,21681,3,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
28,28,21681,4,5,21681,4,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
29,29,21681,5,5,21681,5,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
30,30,21681,6,5,21681,6,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
31,31,21681,7,5,21681,7,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
32,32,21681,7,11,21681,7,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
33,33,21681,8,5,21681,8,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
34,34,21681,9,5,21681,9,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
35,35,21681,10,5,21681,10,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
36,36,21681,11,5,21681,11,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
37,37,21681,14,5,21681,14,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
38,38,21681,15,5,21681,15,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
39,39,21681,16,5,21681,16,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
40,40,21681,17,5,21681,17,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
41,41,21681,18,5,21681,18,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
42,42,21681,18,11,21681,18,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
43,43,21681,19,5,21681,19,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
44,44,21681,20,5,21681,20,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
45,45,21681,21,5,21681,21,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
46,46,21681,22,5,21681,22,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
47,47,21681,25,5,21681,25,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
48,48,21681,26,5,21681,26,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
49,49,21681,27,5,21681,27,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
50,50,21681,28,5,21681,28,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
51,51,21681,29,5,21681,29,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
52,52,21681,29,11,21681,29,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
53,53,21681,30,5,21681,30,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
54,54,21681,31,5,21681,31,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
55,55,21681,32,5,21681,32,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
56,56,21681,33,5,21681,33,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
57,57,21681,36,5,21681,36,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
58,58,21681,37,5,21681,37,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
59,59,21681,38,5,21681,38,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
60,60,21681,39,5,21681,39,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
61,61,21681,39,11,21681,39,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
62,62,21681,40,5,21681,40,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
63,63,21681,41,5,21681,41,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
64,64,21681,42,5,21681,42,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
65,65,21681,43,5,21681,43,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
66,66,21681,46,5,21681,46,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
67,67,21681,47,5,21681,47,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
68,68,21681,48,5,21681,48,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
69,69,21681,49,5,21681,49,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
70,70,21681,50,5,21681,50,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
71,71,21681,50,11,21681,50,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
72,72,21681,51,5,21681,51,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
73,73,21681,52,5,21681,52,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
74,74,21681,53,5,21681,53,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
75,75,21681,54,5,21681,54,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
76,76,21681,57,5,21681,57,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
77,77,21681,58,5,21681,58,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
78,78,21681,59,5,21681,59,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
79,79,21681,60,5,21681,60,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
80,80,21681,61,5,21681,61,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
81,81,21681,61,11,21681,61,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
82,82,21681,62,5,21681,62,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
83,83,21681,63,5,21681,63,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
84,84,21681,64,5,21681,64,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
85,85,21681,65,5,21681,65,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
86,86,21681,68,5,21681,68,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
87,87,21681,69,5,21681,69,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
88,88,21681,70,5,21681,70,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
89,89,21681,71,5,21681,71,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
90,90,21681,72,5,21681,72,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
91,91,21681,72,11,21681,72,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
92,92,21681,73,5,21681,73,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
93,93,21681,74,5,21681,74,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
94,94,21681,75,5,21681,75,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
95,95,21681,76,5,21681,76,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
96,96,21681,79,5,21681,79,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
97,97,21681,80,5,21681,80,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
98,98,21681,81,5,21681,81,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
99,99,21681,82,5,21681,82,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
100,100,21681,83,5,21681,83,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
101,101,21681,83,11,21681,83,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
102,102,21681,84,5,21681,84,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
103,103,21681,85,5,21681,85,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
104,104,21681,86,5,21681,86,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
105,105,21681,87,5,21681,87,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
106,106,21681,90,5,21681,90,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
107,107,21681,91,5,21681,91,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
108,108,21681,92,5,21681,92,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
109,109,21681,93,5,21681,93,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
110,110,21681,94,5,21681,94,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
111,111,21681,94,11,21681,94,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
112,112,21681,95,5,21681,95,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
113,113,21681,96,5,21681,96,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
114,114,21681,97,5,21681,97,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
115,115,21681,98,5,21681,98,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
116,116,21681,101,5,21681,101,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
117,117,21681,102,5,21681,102,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
118,118,21681,103,5,21681,103,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
119,119,21681,104,5,21681,104,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
120,120,21681,105,5,21681,105,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
121,121,21681,105,11,21681,105,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
122,122,21681,106,5,21681,106,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
123,123,21681,107,5,21681,107,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
124,124,21681,108,5,21681,108,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
125,125,21681,109,5,21681,109,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
126,126,21681,112,5,21681,112,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
127,127,21681,113,5,21681,113,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
128,128,21681,114,5,21681,114,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
129,129,21681,115,5,21681,115,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
130,130,21681,116,5,21681,116,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
131,131,21681,116,11,21681,116,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
132,132,21681,117,5,21681,117,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
133,133,21681,118,5,21681,118,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
134,134,21681,119,5,21681,119,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
135,135,21681,120,5,21681,120,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
136,136,21681,123,5,21681,123,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
137,137,21681,124,5,21681,124,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
138,138,21681,125,5,21681,125,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
139,139,21681,126,5,21681,126,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
140,140,21681,127,5,21681,127,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
141,141,21681,127,11,21681,127,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
142,142,21681,128,5,21681,128,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
143,143,21681,129,5,21681,129,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
144,144,21681,130,5,21681,130,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
145,145,21681,131,5,21681,131,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
146,146,21681,134,5,21681,134,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),3,FALSE)",5,123
147,147,21681,135,5,21681,135,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),6,FALSE)/1000",6,123
148,148,21681,136,5,21681,136,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),7,FALSE)/1000",6,123
149,149,21681,137,5,21681,137,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),8,FALSE)",5,123
150,150,21681,138,5,21681,138,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
151,151,21681,138,11,21681,138,"IF(VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE)=""Cf. the utilized electricity"",0,VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),11,FALSE))",12,115
152,152,21681,139,5,21681,139,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),12,FALSE)",5,115
153,153,21681,140,5,21681,140,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),13,FALSE)",5,115
154,154,21681,141,5,21681,141,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),14,FALSE)",5,115
155,155,21681,142,5,21681,142,"VLOOKUP($AD63,INDIRECT(""'""&$B63&""'!""&""$P$39:$AD$42""),15,FALSE)",5,115
156,156,21933,1,4,21933,1,"VLOOKUP($H11,INDIRECT(""Ref_EF_Public_Transport""&""_""&$D11),3,0)",4,100
157,157,21933,2,4,21933,2,"VLOOKUP($H11,INDIRECT(""Ref_EF_Public_Transport""&""_""&$D11),5,0)",4,100
158,158,21933,3,4,21933,3,"VLOOKUP($H11,INDIRECT(""Ref_EF_Public_Transport""&""_""&$D11),6,0)",4,100
159,159,21933,4,4,21933,4,"VLOOKUP($H11,INDIRECT(""Ref_EF_Public_Transport""&""_""&$D11),4,0)",4,100
160,160,23593,31,1,23593,31,"VLOOKUP(A2,$A$1:A1,1,FALSE)",1,1687
161,161,23593,32,2,23593,32,"IF(ISNA(K2),D2,VLOOKUP(A2,$A$1:D1,4,FALSE))",3,1575

In [86]:
res_df = join_r_df(join_f_df(case_four_df))
res_df1 = res_df[(res_df['f_string'] == 'HLOOKUP') & (((res_df['r_id'] == 3) & (res_df['r_pattern_type'] != 'FF')) | ((res_df['r_id'] == 2) & (res_df['r_pattern_type'] != 'FF')))].reset_index()
res_df1

,index,r_s_id,r_t_id,r_f_id,f_s_id,f_t_id,f_id,f_string,f_ref_num,r_id,r_pattern_type,r_head_row,r_head_col,r_tail_row,r_tail_col,r_scalarvalue,r_is_interm,r_interm_f_id
0,1418,17458,10,4,17458,10,4,HLOOKUP,4,2,FR,0,123,4,138,NaN,False,-1
1,1419,17458,10,4,17458,10,4,HLOOKUP,4,3,RR,4,0,4,0,NaN,False,-1
2,1422,17458,11,3,17458,11,3,HLOOKUP,4,2,FR,0,123,4,138,NaN,False,-1
3,1423,17458,11,3,17458,11,3,HLOOKUP,4,3,RR,4,0,4,0,NaN,False,-1
4,1426,17458,11,4,17458,11,4,HLOOKUP,4,2,FR,0,123,4,138,NaN,False,-1
5,1427,17458,11,4,17458,11,4,HLOOKUP,4,3,RR,4,0,4,0,NaN,False,-1
6,1430,17458,12,4,17458,12,4,HLOOKUP,4,2,FR,0,123,4,138,NaN,False,-1
7,1434,17458,13,4,17458,13,4,HLOOKUP,4,2,FR,0,123,4,138,NaN,False,-1
8,1438,17458,14,5,17458,14,5,HLOOKUP,4,2,FR,0,123,4,138,NaN,False,-1
9,1439,17458,14,5,17458,14,5,HLOOKUP,4,3,RR,4,0,4,0,NaN,False,-1
10,1442,17458,15,4,17458,15,4,HLOOKUP,4,2,FR,0,123,4,138,NaN,False,-1
11,1443,17458,15,4,17458,15,4,HLOOKUP,4,3,RR,4,0,4,0,NaN,False,-1
12,1446,17458,15,5,17458,15,5,HLOOKUP,4,2,FR,0,123,4,138,NaN,False,-1
13,1447,17458,15,5,17458,15,5,HLOOKUP,4,3,RR,4,0,4,0,NaN,False,-1
14,1450,17458,16,5,17458,16,5,HLOOKUP,4,2,FR,0,123,4,138,NaN,False,-1
15,1454,17458,17,5,17458,17,5,HLOOKUP,4,2,FR,0,123,4,138,NaN,False,-1
16,6768,21364,47,3,21364,47,3,HLOOKUP,4,2,RR,0,0,1,1,NaN,True,1
17,6769,21364,47,3,21364,47,3,HLOOKUP,4,3,RR,0,0,0,0,NaN,True,2
18,9681,21782,33,2,21782,33,2,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
19,9685,21782,33,4,21782,33,4,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
20,9689,21782,33,7,21782,33,7,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
21,9693,21782,34,2,21782,34,2,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
22,9697,21782,34,4,21782,34,4,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
23,9701,21782,34,7,21782,34,7,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
24,9705,21782,35,2,21782,35,2,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
25,9709,21782,35,4,21782,35,4,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
26,9713,21782,35,7,21782,35,7,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
27,9717,21782,36,2,21782,36,2,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
28,9721,21782,36,4,21782,36,4,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
29,9725,21782,36,7,21782,36,7,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
30,9729,21782,37,2,21782,37,2,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
31,9733,21782,37,4,21782,37,4,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
32,9737,21782,37,7,21782,37,7,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
33,9741,21782,38,2,21782,38,2,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
34,9745,21782,38,4,21782,38,4,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
35,9749,21782,38,7,21782,38,7,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
36,9753,21782,39,2,21782,39,2,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
37,9757,21782,39,4,21782,39,4,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1
38,9761,21782,39,7,21782,39,7,HLOOKUP,4,3,RR,2,0,2,0,NaN,False,-1

In [87]:
res_df1 = res_df1[['r_s_id', 'r_t_id', 'r_f_id']]
join_t_df(res_df1).drop_duplicates().reset_index()

,index,r_s_id,r_t_id,r_f_id,t_s_id,t_id,t_string,t_func_number,t_cell_number
0,0,17458,10,4,17458,10,"IF(F5-1<0.0001,0,HLOOKUP($F5-1,$DT$1:$EI5,$A5,FALSE))",5,2167
1,2,17458,11,3,17458,11,"IF(F5-1<0.0001,HLOOKUP(1,$DT$1:$EI5,$A5,FALSE),HLOOKUP($F5,$DT$1:$EI5,$A5,FALSE))",5,2167
2,4,17458,11,4,17458,11,"IF(F5-1<0.0001,HLOOKUP(1,$DT$1:$EI5,$A5,FALSE),HLOOKUP($F5,$DT$1:$EI5,$A5,FALSE))",5,2167
3,6,17458,12,4,17458,12,"IF(H5-1<0.0001,0.5,HLOOKUP($F5-1,$DT$1:$EI5,3,FALSE))",5,2167
4,7,17458,13,4,17458,13,"IF(H5-1<0.0001,HLOOKUP(1,$DT$1:$EI5,2,FALSE),HLOOKUP($F5,$DT$1:$EI5,2,FALSE))",5,2167
5,8,17458,14,5,17458,14,"IF(F5=G5,H5,IF(G5-1<0.0001,0,HLOOKUP($G5-1,$DT$1:$EI5,$A5,FALSE)))",7,2167
6,10,17458,15,4,17458,15,"IF(F5=G5,I5,IF(G5-1<0.0001,HLOOKUP(1,$DT$1:$EI5,$A5,FALSE),HLOOKUP($G5,$DT$1:$EI5,$A5,FALSE)))",7,2167
7,12,17458,15,5,17458,15,"IF(F5=G5,I5,IF(G5-1<0.0001,HLOOKUP(1,$DT$1:$EI5,$A5,FALSE),HLOOKUP($G5,$DT$1:$EI5,$A5,FALSE)))",7,2167
8,14,17458,16,5,17458,16,"IF(F5=G5,J5,IF(I5-1<0.0001,0.5,HLOOKUP($G5-1,$DT$1:$EI5,3,FALSE)))",7,2167
9,15,17458,17,5,17458,17,"IF(F5=G5,K5,IF(I5-1<0.0001,HLOOKUP(1,$DT$1:$EI5,2,FALSE),HLOOKUP($G5,$DT$1:$EI5,2,FALSE)))",7,2167
10,16,21364,47,3,21364,47,"HLOOKUP(F6,INDIRECT(M6),D6-2007,FALSE)",3,318
11,18,21782,33,2,21782,33,"HLOOKUP(LEFT(BS$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BS$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BS$2,2),$D$2:$L$233,$A3,FALSE)",8,231
12,19,21782,33,4,21782,33,"HLOOKUP(LEFT(BS$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BS$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BS$2,2),$D$2:$L$233,$A3,FALSE)",8,231
13,20,21782,33,7,21782,33,"HLOOKUP(LEFT(BS$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BS$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BS$2,2),$D$2:$L$233,$A3,FALSE)",8,231
14,21,21782,34,2,21782,34,"HLOOKUP(LEFT(BT$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BT$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BT$2,2),$D$2:$L$233,$A3,FALSE)",8,231
15,22,21782,34,4,21782,34,"HLOOKUP(LEFT(BT$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BT$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BT$2,2),$D$2:$L$233,$A3,FALSE)",8,231
16,23,21782,34,7,21782,34,"HLOOKUP(LEFT(BT$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BT$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BT$2,2),$D$2:$L$233,$A3,FALSE)",8,231
17,24,21782,35,2,21782,35,"HLOOKUP(LEFT(BU$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BU$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BU$2,2),$D$2:$L$233,$A3,FALSE)",8,231
18,25,21782,35,4,21782,35,"HLOOKUP(LEFT(BU$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BU$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BU$2,2),$D$2:$L$233,$A3,FALSE)",8,231
19,26,21782,35,7,21782,35,"HLOOKUP(LEFT(BU$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BU$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BU$2,2),$D$2:$L$233,$A3,FALSE)",8,231
20,27,21782,36,2,21782,36,"HLOOKUP(LEFT(BV$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BV$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BV$2,2),$D$2:$L$233,$A3,FALSE)",8,231
21,28,21782,36,4,21782,36,"HLOOKUP(LEFT(BV$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BV$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BV$2,2),$D$2:$L$233,$A3,FALSE)",8,231
22,29,21782,36,7,21782,36,"HLOOKUP(LEFT(BV$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BV$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BV$2,2),$D$2:$L$233,$A3,FALSE)",8,231
23,30,21782,37,2,21782,37,"HLOOKUP(LEFT(BW$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BW$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BW$2,2),$D$2:$L$233,$A3,FALSE)",8,231
24,31,21782,37,4,21782,37,"HLOOKUP(LEFT(BW$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BW$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BW$2,2),$D$2:$L$233,$A3,FALSE)",8,231
25,32,21782,37,7,21782,37,"HLOOKUP(LEFT(BW$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BW$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BW$2,2),$D$2:$L$233,$A3,FALSE)",8,231
26,33,21782,38,2,21782,38,"HLOOKUP(LEFT(BX$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BX$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BX$2,2),$D$2:$L$233,$A3,FALSE)",8,231
27,34,21782,38,4,21782,38,"HLOOKUP(LEFT(BX$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BX$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BX$2,2),$D$2:$L$233,$A3,FALSE)",8,231
28,35,21782,38,7,21782,38,"HLOOKUP(LEFT(BX$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BX$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BX$2,2),$D$2:$L$233,$A3,FALSE)",8,231
29,36,21782,39,2,21782,39,"HLOOKUP(LEFT(BY$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BY$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BY$2,2),$D$2:$L$233,$A3,FALSE)",8,231
30,37,21782,39,4,21782,39,"HLOOKUP(LEFT(BY$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BY$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BY$2,2),$D$2:$L$233,$A3,FALSE)",8,231
31,38,21782,39,7,21782,39,"HLOOKUP(LEFT(BY$2,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(MID(BY$2,3,2),$D$2:$L$233,$A3,FALSE)*HLOOKUP(RIGHT(BY$2,2),$D$2:$L$233,$A3,FALSE)",8,231

In [88]:
res_df = join_r_df(join_f_df(case_four_df))
res_df1 = res_df[(res_df['f_string'] == 'LOOKUP')].reset_index()
res_df1

,index,r_s_id,r_t_id,r_f_id,f_s_id,f_t_id,f_id,f_string,f_ref_num,r_id,r_pattern_type,r_head_row,r_head_col,r_tail_row,r_tail_col,r_scalarvalue,r_is_interm,r_interm_f_id
0,1357,17429,1,1,17429,1,1,LOOKUP,3,1,RR,1,6,1,6,NaN,False,-1
1,1358,17429,1,1,17429,1,1,LOOKUP,3,2,FF,0,0,1048575,0,NaN,False,-1
2,1359,17429,1,1,17429,1,1,LOOKUP,3,3,FF,0,1,1048575,1,NaN,False,-1
3,1360,17429,2,1,17429,2,1,LOOKUP,3,1,RR,1,6,1,6,NaN,False,-1
4,1361,17429,2,1,17429,2,1,LOOKUP,3,2,FF,0,0,1048575,0,NaN,False,-1
5,1362,17429,2,1,17429,2,1,LOOKUP,3,3,FF,0,3,1048575,3,NaN,False,-1
6,1363,17429,3,1,17429,3,1,LOOKUP,3,1,RR,1,6,1,6,NaN,False,-1
7,1364,17429,3,1,17429,3,1,LOOKUP,3,2,FF,0,0,1048575,0,NaN,False,-1
8,1365,17429,3,1,17429,3,1,LOOKUP,3,3,FF,0,2,1048575,2,NaN,False,-1
9,1366,17429,4,1,17429,4,1,LOOKUP,3,1,RR,1,6,1,6,NaN,False,-1
10,1367,17429,4,1,17429,4,1,LOOKUP,3,2,FF,0,0,1048575,0,NaN,False,-1
11,1368,17429,4,1,17429,4,1,LOOKUP,3,3,FF,0,4,1048575,4,NaN,False,-1
12,1369,17429,5,1,17429,5,1,LOOKUP,3,1,RR,1,6,1,6,NaN,False,-1
13,1370,17429,5,1,17429,5,1,LOOKUP,3,2,FF,0,0,1048575,0,NaN,False,-1
14,1371,17429,5,1,17429,5,1,LOOKUP,3,3,FF,0,1,1048575,1,NaN,False,-1
15,1375,17429,7,1,17429,7,1,LOOKUP,3,1,RR,1,6,1,6,NaN,False,-1
16,1376,17429,7,1,17429,7,1,LOOKUP,3,2,FF,0,0,1048575,0,NaN,False,-1
17,1377,17429,7,1,17429,7,1,LOOKUP,3,3,FF,0,2,1048575,2,NaN,False,-1
18,1378,17429,8,1,17429,8,1,LOOKUP,3,1,RR,1,6,1,6,NaN,False,-1
19,1379,17429,8,1,17429,8,1,LOOKUP,3,2,FF,0,0,1048575,0,NaN,False,-1
20,1380,17429,8,1,17429,8,1,LOOKUP,3,3,FF,0,4,1048575,4,NaN,False,-1
21,1381,17429,9,1,17429,9,1,LOOKUP,3,1,RR,1,4,1,4,NaN,False,-1
22,1382,17429,9,1,17429,9,1,LOOKUP,3,2,FF,0,0,1048575,0,NaN,False,-1
23,1383,17429,9,1,17429,9,1,LOOKUP,3,3,FF,0,1,1048575,1,NaN,False,-1
24,1384,17429,10,1,17429,10,1,LOOKUP,3,1,RR,1,4,1,4,NaN,False,-1
25,1385,17429,10,1,17429,10,1,LOOKUP,3,2,FF,0,0,1048575,0,NaN,False,-1
26,1386,17429,10,1,17429,10,1,LOOKUP,3,3,FF,0,2,1048575,2,NaN,False,-1
27,10046,22480,7,1,22480,7,1,LOOKUP,3,1,RR,1,15,1,15,NaN,False,-1
28,10047,22480,7,1,22480,7,1,LOOKUP,3,2,FF,1,2,144,2,NaN,False,-1
29,10048,22480,7,1,22480,7,1,LOOKUP,3,3,FF,1,11,144,11,NaN,False,-1
30,10049,22480,8,1,22480,8,1,LOOKUP,3,1,RR,1,15,1,15,NaN,False,-1
31,10050,22480,8,1,22480,8,1,LOOKUP,3,2,FF,1,2,144,2,NaN,False,-1
32,10051,22480,8,1,22480,8,1,LOOKUP,3,3,FF,1,12,144,12,NaN,False,-1
33,10052,22480,9,1,22480,9,1,LOOKUP,3,1,RR,1,21,1,21,NaN,False,-1
34,10053,22480,9,1,22480,9,1,LOOKUP,3,2,FF,1,2,144,2,NaN,False,-1
35,10054,22480,9,1,22480,9,1,LOOKUP,3,3,FF,1,11,144,11,NaN,False,-1
36,10055,22480,10,1,22480,10,1,LOOKUP,3,1,RR,1,21,1,21,NaN,False,-1
37,10056,22480,10,1,22480,10,1,LOOKUP,3,2,FF,1,2,144,2,NaN,False,-1
38,10057,22480,10,1,22480,10,1,LOOKUP,3,3,FF,1,12,144,12,NaN,False,-1
39,10058,22480,12,1,22480,12,1,LOOKUP,3,1,RR,1,26,1,26,NaN,False,-1
40,10059,22480,12,1,22480,12,1,LOOKUP,3,2,FF,1,2,144,2,NaN,False,-1
41,10060,22480,12,1,22480,12,1,LOOKUP,3,3,FF,1,11,144,11,NaN,False,-1
42,10061,22480,13,1,22480,13,1,LOOKUP,3,1,RR,1,26,1,26,NaN,False,-1
43,10062,22480,13,1,22480,13,1,LOOKUP,3,2,FF,1,2,144,2,NaN,False,-1
44,10063,22480,13,1,22480,13,1,LOOKUP,3,3,FF,1,12,144,12,NaN,False,-1
45,10064,22480,14,1,22480,14,1,LOOKUP,3,1,RR,61,26,61,26,NaN,False,-1
46,10065,22480,14,1,22480,14,1,LOOKUP,3,2,FF,1,2,144,2,NaN,False,-1
47,10066,22480,14,1,22480,14,1,LOOKUP,3,3,FF,1,11,144,11,NaN,False,-1
48,10067,22480,15,1,22480,15,1,LOOKUP,3,1,RR,61,26,61,26,NaN,False,-1
49,10068,22480,15,1,22480,15,1,LOOKUP,3,2,FF,1,2,144,2,NaN,False,-1
50,10069,22480,15,1,22480,15,1,LOOKUP,3,3,FF,1,12,144,12,NaN,False,-1
51,10070,22480,16,1,22480,16,1,LOOKUP,3,1,RR,1,34,1,34,NaN,False,-1
52,10071,22480,16,1,22480,16,1,LOOKUP,3,2,FF,1,26,8640,26,NaN,False,-1
53,10072,22480,16,1,22480,16,1,LOOKUP,3,3,FF,1,31,8640,31,NaN,False,-1
54,10073,22480,17,1,22480,17,1,LOOKUP,3,1,RR,1,34,1,34,NaN,False,-1
55,10074,22480,17,1,22480,17,1,LOOKUP,3,2,FF,1,26,8640,26,NaN,False,-1
56,10075,22480,17,1,22480,17,1,LOOKUP,3,3,FF,1,32,8640,32,NaN,False,-1
57,10299,22793,2,2,22793,2,2,LOOKUP,3,1,RR,0,0,0,0,NaN,True,1
58,10300,22793,2,2,22793,2,2,LOOKUP,3,2,FF,1,1,23,1,NaN,False,-1
59,10301,22793,2,2,22793,2,2,LOOKUP,3,3,FF,1,3,23,3,NaN,False,-1
60,10316,22970,1,1,22970,1,1,LOOKUP,2,1,RR,1,5,1,5,NaN,False,-1
61,10317,22970,1,1,22970,1,1,LOOKUP,2,2,FF,1,17,11,18,NaN,False,-1

In [89]:
res_df1 = res_df1[['r_s_id', 'r_t_id', 'r_f_id']]
join_t_df(res_df1).drop_duplicates().reset_index()

,index,r_s_id,r_t_id,r_f_id,t_s_id,t_id,t_string,t_func_number,t_cell_number
0,0,17429,1,1,17429,1,"LOOKUP(G2,A:A,B:B)",1,3224
1,3,17429,2,1,17429,2,"LOOKUP(G2,A:A,D:D)",1,3224
2,6,17429,3,1,17429,3,"LOOKUP(G2,A:A,C:C)",1,3224
3,9,17429,4,1,17429,4,"LOOKUP(G2,A:A,E:E)",1,3224
4,12,17429,5,1,17429,5,"LOOKUP(G2,A$1:A$1048576,B$1:B$1048576)",1,3119
5,15,17429,7,1,17429,7,"LOOKUP(G2,A:A,C:C)",1,3119
6,18,17429,8,1,17429,8,"LOOKUP(G2,A:A,E:E)",1,3119
7,21,17429,9,1,17429,9,"LOOKUP(E2,A:A,B:B)",1,3224
8,24,17429,10,1,17429,10,"LOOKUP(E2,A:A,C:C)",1,3224
9,27,22480,7,1,22480,7,"LOOKUP(P2,$C$2:$C$145,$L$2:$L$145)",1,2880
10,30,22480,8,1,22480,8,"LOOKUP(P2,$C$2:$C$145,$M$2:$M$145)",1,2880
11,33,22480,9,1,22480,9,"LOOKUP(V2,$C$2:$C$145,$L$2:$L$145)",1,8640
12,36,22480,10,1,22480,10,"LOOKUP(V2,$C$2:$C$145,$M$2:$M$145)",1,8640
13,39,22480,12,1,22480,12,"LOOKUP(AA2,$C$2:$C$145,$L$2:$L$145)",1,8640
14,42,22480,13,1,22480,13,"LOOKUP(AA2,$C$2:$C$145,$M$2:$M$145)",1,8640
15,45,22480,14,1,22480,14,"LOOKUP(AA62,$C$2:$C$145,$L$2:$L$145)",1,8580
16,48,22480,15,1,22480,15,"LOOKUP(AA62,$C$2:$C$145,$M$2:$M$145)",1,8580
17,51,22480,16,1,22480,16,"LOOKUP(AI2,$AA$2:$AA$8641,$AF$2:$AF$8641)",1,2880
18,54,22480,17,1,22480,17,"LOOKUP(AI2,$AA$2:$AA$8641,$AG$2:$AG$8641)",1,2880
19,57,22793,2,2,22793,2,"LOOKUP(CONCATENATE(""apmuiservice#"", E25), B$2:B$24, D$2:D$24)",2,336
20,60,22970,1,1,22970,1,"LOOKUP(F2,$R$2:$S$12)",1,14984

## Case Two (Multiple Cell References)

In [90]:
case_two_df = n_ref_df.merge(case_four_df, how='left', indicator=True)
case_two_df = case_two_df[case_two_df['_merge'] == 'left_only'].drop(columns=['r_count', '_merge'])
case_two_df

        r_s_id  r_t_id  r_f_id
0           22       1       5
1           22       2       1
2           22       4       2
3           22       5       1
4           22       5       2
...        ...     ...     ...
127957   24923      25       4
127958   24923      26       1
127959   24923      27       1
127960   24923      28       1
127961   24923      29       1

[123897 rows x 3 columns]

In [91]:
order_by_function_frequency(case_two_df)

       f_string  f_str_count
28           IF        28748
3             -        15097
2             +        14302
4             /        11960
1             *         9963
0             &         7016
8             =         6106
7            <>         5696
12          AND         4431
50       SEARCH         3170
35          MID         2542
24         FIND         2464
9             >         2317
10           >=         1918
6            <=         1647
5             <         1370
37          MOD         1107
41           OR          722
16  CONCATENATE          595
31         LEFT          524
53   SUBSTITUTE          432
15       CHOOSE          334
19         DATE          169
40       OFFSET          163
55          SUM          144
48        RIGHT          120
14      AVERAGE           95
33          MAX           86
22        EXACT           72
18      COUNTIF           70
20      DATEDIF           65
30        LARGE           63
51  STANDARDIZE           55
36          MIN           55
13        ATAN2           34
43        POWER           32
44         PPMT           27
42          PMT           26
56   SUMPRODUCT           20
38     NORMDIST           18
52        STDEV           15
59         TIME           13
17        COUNT           12
29         IPMT           11
58         TEXT            9
27    HYPERLINK            7
32        MATCH            7
11      ADDRESS            6
25      GEOMEAN            6
61            ^            6
46      REPLACE            5
21      DAYS360            5
39      NORMINV            5
45      PRODUCT            4
49        ROUND            3
57        SUMSQ            2
26      HARMEAN            1
47         REPT            1
54     SUBTOTAL            1
23        FDIST            1
60      VLOOKUP            1
34       MEDIAN            1

In [92]:
case_two_diff_row_df = join_r_df(case_two_df).groupby(['r_s_id', 'r_t_id', 'r_f_id'])['r_head_row'].nunique().reset_index(name='r_row_count')
case_two_diff_row_df = case_two_diff_row_df[case_two_diff_row_df['r_row_count'] > 1]
case_two_diff_row_df

        r_s_id  r_t_id  r_f_id  r_row_count
1           22       2       1            2
2           22       4       2            2
4           22       5       2            2
6           22       7       1            2
7           22       8       2            2
...        ...     ...     ...          ...
123887   24923      23       1            2
123888   24923      23       2            2
123889   24923      24       1            2
123891   24923      25       1            2
123896   24923      29       1            2

[59305 rows x 4 columns]

In [93]:
case_two_diff_col_df = join_r_df(case_two_df).groupby(['r_s_id', 'r_t_id', 'r_f_id'])['r_head_col'].nunique().reset_index(name='r_col_count')
case_two_diff_col_df = case_two_diff_col_df[case_two_diff_col_df['r_col_count'] > 1]
case_two_diff_col_df

        r_s_id  r_t_id  r_f_id  r_col_count
1           22       2       1            2
2           22       4       2            3
3           22       5       1            2
4           22       5       2            2
5           22       6       1            2
...        ...     ...     ...          ...
123891   24923      25       1            2
123893   24923      26       1           12
123894   24923      27       1            5
123895   24923      28       1            3
123896   24923      29       1            5

[85194 rows x 4 columns]

In [94]:
order_by_function_frequency(case_two_diff_col_df)

       f_string  f_str_count
3             -        13378
4             /        10938
27           IF        10906
2             +        10366
1             *         9294
0             &         6345
7            <>         5601
8             =         4935
9             >         2196
47       SEARCH         2066
10           >=         1886
6            <=         1600
5             <         1341
35          MOD         1107
16  CONCATENATE          519
30         LEFT          403
15       CHOOSE          333
33          MID          310
24         FIND          254
50   SUBSTITUTE          248
38       OFFSET          160
52          SUM          140
46        RIGHT          101
14      AVERAGE           87
31          MAX           79
18      COUNTIF           70
29        LARGE           63
20      DATEDIF           59
34          MIN           43
12          AND           39
48  STANDARDIZE           38
19         DATE           30
41        POWER           28
13        ATAN2           27
42         PPMT           27
22        EXACT           26
40          PMT           24
53   SUMPRODUCT           20
36     NORMDIST           18
49        STDEV           15
17        COUNT           12
28         IPMT           11
55         TEXT            7
58            ^            6
37      NORMINV            5
56         TIME            4
26    HYPERLINK            4
44      REPLACE            4
21      DAYS360            4
43      PRODUCT            4
39           OR            3
54        SUMSQ            2
25      GEOMEAN            2
45         REPT            1
51     SUBTOTAL            1
11      ADDRESS            1
32       MEDIAN            1
23        FDIST            1
57      VLOOKUP            1

In [95]:
join_t_df(case_two_diff_col_df)

,r_s_id,r_t_id,r_f_id,r_col_count,t_s_id,t_id,t_string,t_func_number,t_cell_number
0,22,2,1,2,22,2,$G$3*B7,1,175
1,22,4,2,3,22,4,"IF(E7=0,D7,E7)",2,175
2,22,5,1,2,22,5,F7*G7*K7,2,175
3,22,5,2,2,22,5,F7*G7*K7,2,175
4,22,6,1,2,22,6,F7*G7,1,175
...,...,...,...,...,...,...,...,...,...
85189,24923,25,1,2,24923,25,"IF(DD3="""",0,DD3/80*100)",4,387
85190,24923,26,1,12,24923,26,"AVERAGE(M3,Q3,U3,Y3,AC3,AG3,AK3,AO3,AS3,AW3,BA3,BE3)",1,387
85191,24923,27,1,5,24923,27,"AVERAGE(BU3,BY3,CC3,CG3,CK3)",1,387
85192,24923,28,1,3,24923,28,"AVERAGE(BI3,BM3,BQ3)",1,387
85193,24923,29,1,5,24923,29,"AVERAGE(CO3,CS5,CW3,DA3,DE3)",1,387

In [96]:
case_two_range_df = case_two_diff_row_df.merge(case_two_diff_col_df)
case_two_range_df

       r_s_id  r_t_id  r_f_id  r_row_count  r_col_count
0          22       2       1            2            2
1          22       4       2            2            3
2          22       5       2            2            2
3          22       7       1            2            2
4          22       8       2            2            2
...       ...     ...     ...          ...          ...
55995   24923      23       1            2            2
55996   24923      23       2            2            2
55997   24923      24       1            2            2
55998   24923      25       1            2            2
55999   24923      29       1            2            5

[56000 rows x 5 columns]

In [97]:
order_by_function_frequency(case_two_range_df)

       f_string  f_str_count
24           IF        10846
2             +         6523
0             &         5965
7            <>         5575
1             *         4869
8             =         4503
3             -         3488
4             /         2494
43       SEARCH         2065
9             >         2009
10           >=         1546
6            <=         1521
31          MOD         1107
5             <          869
27         LEFT          397
15  CONCATENATE          338
14       CHOOSE          333
29          MID          310
22         FIND          254
45   SUBSTITUTE          247
34       OFFSET          152
42        RIGHT           99
17      COUNTIF           70
26        LARGE           63
19      DATEDIF           59
28          MAX           41
44  STANDARDIZE           37
12          AND           32
37        POWER           28
38         PPMT           27
36          PMT           24
30          MIN           19
32     NORMDIST           18
47          SUM           13
25         IPMT           11
18         DATE           10
49         TEXT            7
33      NORMINV            5
20      DAYS360            4
39      PRODUCT            4
40      REPLACE            4
23    HYPERLINK            2
35           OR            2
51            ^            2
13      AVERAGE            1
41         REPT            1
11      ADDRESS            1
46     SUBTOTAL            1
16        COUNT            1
48        SUMSQ            1
21        FDIST            1
50         TIME            1

In [98]:
join_t_df(case_two_range_df)

,r_s_id,r_t_id,r_f_id,r_row_count,r_col_count,t_s_id,t_id,t_string,t_func_number,t_cell_number
0,22,2,1,2,2,22,2,$G$3*B7,1,175
1,22,4,2,2,3,22,4,"IF(E7=0,D7,E7)",2,175
2,22,5,2,2,2,22,5,F7*G7*K7,2,175
3,22,7,1,2,2,22,7,X6*$Z$3,1,151
4,22,8,2,2,2,22,8,+Y6-X6,2,151
...,...,...,...,...,...,...,...,...,...,...
55995,24923,23,1,2,2,24923,23,"IF(CV3="""",0,CV3)",2,387
55996,24923,23,2,2,2,24923,23,"IF(CV3="""",0,CV3)",2,387
55997,24923,24,1,2,2,24923,24,"IF(CZ3="""",0,CZ3/95*100)",4,387
55998,24923,25,1,2,2,24923,25,"IF(DD3="""",0,DD3/80*100)",4,387
55999,24923,29,1,2,5,24923,29,"AVERAGE(CO3,CS5,CW3,DA3,DE3)",1,387